@model EDSU_SYSTEM.Models.AdmissionLetter

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AdmissionLetter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Header" class="control-label"></label>
                <input asp-for="Header" class="form-control" />
                <span asp-validation-for="Header" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Var1" class="control-label"></label>
                <input asp-for="Var1" class="form-control" />
                <span asp-validation-for="Var1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Var2" class="control-label"></label>
                <input asp-for="Var2" class="form-control" />
                <span asp-validation-for="Var2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Var3" class="control-label"></label>
                <input asp-for="Var3" class="form-control" />
                <span asp-validation-for="Var3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registrar" class="control-label"></label>
                <input asp-for="Registrar" class="form-control" />
                <span asp-validation-for="Registrar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ref" class="control-label"></label>
                <input asp-for="Ref" class="form-control" />
                <span asp-validation-for="Ref" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacultyId" class="control-label"></label>
                <select asp-for="FacultyId" class="form-control" asp-items="ViewBag.FacultyId"></select>
                <span asp-validation-for="FacultyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
