<footer class="footer">
    <div class="footer-container">
        <div class="footer-details">
            <div class="logo">
                <img src="~/portal/images/nav/logo 1.png" alt="">
                <h3>
                    Edo State <br> University Uzairue
                </h3>
            </div>
            <p>
                The vision of Edo State University Uzairue,(formerly Edo University Iyamho), is to become a centre of excellence in quality teaching, research, innovations and community development.
            </p>
            <div class="icons">
                <a class="box" href="https://www.facebook.com/edostateuniversity/">
                    <i class="fa-brands fa-facebook-f "></i>
                </a>
                <a class="box" href="">
                    <i class="fa-brands fa-youtube "></i>
                </a>
                <a class="box" href="https://twitter.com/edsu_uzairue?t=yzYdZJIrtayq3yaueSJVVQ&s=09">
                    <i class="fa-brands fa-twitter "></i>
                </a>
                <a class="box" href="https://www.linkedin.com/company/edo-state-university-uzairue-edsu/">
                    <i class="fa-brands fa-linkedin "></i>
                </a>
                <a class="box" href="https://instagram.com/edostateuniversity?igshid=MzNlNGNkZWQ4Mg==">
                    <i class="fa-brands fa-instagram "></i>
                </a>
            </div>
        </div>

        <div class="list-links">
            <h3>
                EDSU
            </h3>
            <a href="">
                Why EDSU
            </a>
            <a asp-action="programs" asp-controller="home">
                Programs
            </a>
            <a asp-action="scholarships" asp-controller="admissions">
                Scholarship
            </a>
            <a asp-action="fees" asp-controller="home">
                Fees
            </a>
        </div>

        <div class="list-links">
            <h3>
                Resources
            </h3>
            
            <a asp-action="help" asp-controller="home">
                Help Center
            </a>
            <a asp-action="events" asp-controller="home">
                Events
            </a>
           
            <a asp-action="partners" asp-controller="home">
                Partners
            </a>
            <a asp-action="directories" asp-controller="home">
                Staff Directories
            </a>
        </div>

        <div class="list-links">
            <h3>
                Community
            </h3>
            <a asp-action="about" asp-controller="home">
                About us
            </a>
            <a asp-action="contact" asp-controller="home">
                Contact us
            </a>
            <a asp-action="faqs" asp-controller="home">
                FAQ
            </a>
        </div>

        <div class="link-mobile">
            <div class="list-link">
                <h3>
                    EDSU
                </h3>
                <a href="">
                    Why EDSU
                </a>
                <a asp-action="programs" asp-controller="home">
                    Programs
                </a>
                <a asp-action="scholarships" asp-controller="admissions">
                    Scholarship
                </a>
                <a asp-action="fees" asp-controller="home">
                    Fees
                </a>
            </div>

            <div class="list-link">
                <h3>
                    Resources
                </h3>
               
                <a asp-action="help" asp-controller="home">
                    Help Center
                </a>
                <a asp-action="events" asp-controller="home">
                    Events
                </a>
                
                <a asp-action="partners" asp-controller="home">
                    Partners
                </a>
                <a asp-action="directories" asp-controller="home">
                    Staff Directories
                </a>
            </div>

            <div class="list-link">
                <h3>
                    Community
                </h3>
                <a asp-action="about" asp-controller="home">
                    About us
                </a>
                <a asp-action="contact" asp-controller="home">
                    Contact us
                </a>
                <a asp-action="faqs" asp-controller="home">
                    FAQ
                </a>
            </div>
        </div>

        <div class="address">
            <h3>
                Get in Touch with Us
            </h3>
            <div class="icon-box">
                <div class="icon">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <p class="details poppins">
                    Km7, Auchi-Abuja Road, <br> Iyamho-Uzairue Edo State, Nigeria
                </p>
            </div>
            <div class="icon-box">
                <div class="icon">
                    <i class="fa-solid fa-phone"></i>
                </div>
                <p class="details poppins">
                    08064888518,08065528915, 09025412171, 07012641913
                </p>
            </div>
            <div class="icon-box">
                <div class="icon">
                    <i class="fa-regular fa-envelope"></i>
                </div>
                <p class="details poppins">
                    registrar@edouniversity.edu.ng
                </p>
            </div>
        </div>
    </div>
    <p class="copyright">
       EDSU ICT UNIT - &copy; @DateTime.Now.Year All Rights Reserved.
    </p>
</footer>