<nav >
    <a href="/">
        <div class="logo">
            <img src="~/portal/images/nav/logo 1.png" alt="">
            <h3>
                Edo State <br> University Uzairue
            </h3>
        </div>
    </a>
    <ul>
        <li class="nav-item">
            <a class="" href="/">
                Home
            </a>
        </li>
        <li class="nav-item">
            <div class="dropdown nav-link ">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    About
                    <i data-feather="chevron-down"></i>
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink7">
                    <a class="dropdown-item" asp-controller="home" asp-action="about">About-Us</a>
                    <a class="dropdown-item" asp-controller="home" asp-action="programs">Programs</a>
                    <a class="dropdown-item" asp-controller="home" asp-action="contact">Contact-Us</a>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <div class="dropdown nav-link ">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Academics
                    <i data-feather="chevron-down"></i>
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink7">
                    <a class="dropdown-item" href="#">Applied Health Science</a>
                    <a class="dropdown-item" href="#">Art Management & Social Sciences</a>
                    <a class="dropdown-item" href="#">Basic Medical Science</a>
                    <a class="dropdown-item" href="#">Clinical Science</a>
                    <a class="dropdown-item" href="#">Engineering</a>
                    <a class="dropdown-item" href="#">Law</a>
                    <a class="dropdown-item" href="#">Science</a>
                    @* @foreach (var item in Model.Faculties)
                    {
                     <a class="dropdown-item" asp-controller="PgProgresses" asp-action="index">@item.Name</a>
                    }*@
                </div>
            </div>
        </li>

        <li class="nav-item">
            <div class="dropdown nav-link ">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Admissions
                    <i data-feather="chevron-down"></i>
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink7">

                    <a class="dropdown-item" asp-controller="admissions" asp-action="undergraduate">Undergraduate</a>
                    <a class="dropdown-item" asp-controller="pgadmissions" asp-action="postgraduate">Post Graduate</a>
                    <a class="dropdown-item" asp-controller="conversions" asp-action="conversion">Conversion</a>
                    <a class="dropdown-item" asp-controller="order" asp-action="credit">Pay Fees</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <div class="dropdown nav-link ">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Vacancies
                    <i data-feather="chevron-down"></i>
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink7">
                    <a class="dropdown-item" asp-controller="vacancies" asp-action="academic">Academic</a>
                    <a class="dropdown-item" asp-controller="vacancies" asp-action="nonacademic">Non Academic</a>
                    <a class="dropdown-item" asp-controller="entreprenureships" asp-action="create">Entrepreunership</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <div class="dropdown nav-link ">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Media
                    <i data-feather="chevron-down"></i>
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink7">
                    <a class="dropdown-item" asp-controller="home" asp-action="activities">Activity</a>
                    <a class="dropdown-item" asp-controller="home" asp-action="news">Campus News</a>
                    <a class="dropdown-item" asp-controller="home" asp-action="magazines">EDSU Magazine</a>
                    <a class="dropdown-item" asp-controller="home" asp-action="events">Event Gallery</a>
                    <a class="dropdown-item" asp-controller="home" asp-action="gallery">Building Gallery</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <div class="dropdown nav-link ">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    OER
                    <i data-feather="chevron-down"></i>
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink7">
                    <a class="dropdown-item" asp-controller="oerconferencepapers" asp-action="index">Conference Papers</a>
                    <a class="dropdown-item" asp-controller="oercoursewares" asp-action="index">Coursewares</a>
                    <a class="dropdown-item" asp-controller="oerjournalarticles" asp-action="index">Journal Articles</a>
                    <a class="dropdown-item" asp-controller="oerstudentprojects" asp-action="index">Students Projects</a>
                    <a class="dropdown-item" asp-controller="oertextbooks" asp-action="index">Textbooks</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <div class="dropdown nav-link ">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Journal
                </a>
            </div>
        </li>
        
    </ul>
    <partial name="_LoginPartial" />
</nav>

<script src="~/portal/js/Nav-component.js"></script>
@*<script src="~/portal/js/Footer-component.js"></script>*@
<script src="~/portal/js/Components.js"></script>