class Programs extends HTMLElement {
    connectedCallback() {
        this.innerHTML = `
        <div id="course_wrap">
        <div id="courses">
            <section>
                <span id="span_1">
                    <h2>Accountancy, B.Sc</h2>
                    <p>Faculty of Arts, Management
                        & Social
                        Sciences
                    </p>
                </span>
                <span id="span_2">
                    <a href="#">Show More</a>
                    <img src="~/portal/images/programs/icons/circles.png"/>
                </span>
            </section>

            <section>
                <span id="span_1">
                    <h2>Animal and Environmental Biology, B.Sc</h2>
                    <p>Faculty of Sciences
                    </p>
                </span>
                <span id="span_2">
                    <a href="#">Show More</a>
                    <img src="~/portal/images/programs/icons/circles.png"/>
                </span>
            </section>

            <section>
                <span id="span_1">
                    <h2>Banking and Finance, B.Sc</h2>
                    <p>Faculty of Arts, Management
                        & Social
                        Sciences
                    </p>
                </span>
                <span id="span_2">
                    <a href="#">Show More</a>
                    <img src="~/portal/images/programs/icons/circles.png"/>
                </span>
            </section>
        </div>

        <div id="courses">
            <section>
                <span id="span_1">
                    <h2>BioChemistry, B.Sc</h2>
                    <p>Faculty of Applied Health Science
                    </p>
                </span>
                <span id="span_2">
                    <a href="#">Show More</a>
                    <img src="~/portal/images/programs/icons/circles.png"/>
                </span>
            </section>

            <section>
                <span id="span_1">
                    <h2>Business Administration, B.Sc</h2>
                    <p>Faculty of Arts, Management
                        & Social
                        Sciences
                    </p>
                </span>
                <span id="span_2">
                    <a href="#">Show More</a>
                    <img src="~/portal/images/programs/icons/circles.png"/>
                </span>
            </section>

            <section>
                <span id="span_1">
                    <h2>Chemical Engineering, B.Eng</h2>
                    <p>Faculty of Engineering
                    </p>
                </span>
                <span id="span_2">
                    <a href="#">Show More</a>
                    <img src="~/portal/images/programs/icons/circles.png"/>
                </span>
            </section>
        </div>

        <div id="courses">
            <section>
                <span id="span_1">
                    <h2>Civil Engineering, B.Eng</h2>
                    <p>Faculty of Engineering
                    </p>
                </span>
                <span id="span_2">
                    <a href="#">Show More</a>
                    <img src="~/portal/images/programs/icons/circles.png"/>
                </span>
            </section>

            <section>
                <span id="span_1">
                    <h2>Computer Science, B.Sc</h2>
                    <p>Faculty of 
                        Sciences
                    </p>
                </span>
                <span id="span_2">
                    <a href="#">Show More</a>
                    <img src="~/portal/images/programs/icons/circles.png"/>
                </span>
            </section>

            <section>
                <span id="span_1">
                    <h2>Computer Engineering, B.Eng</h2>
                    <p>Faculty of Engineering
                    </p>
                </span>
                <span id="span_2">
                    <a href="#">Show More</a>
                    <img src="~/portal/images/programs/icons/circles.png"/>
                </span>
            </section>
        </div>

        <div id="courses">
            <section>
                <span id="span_1">
                    <h2>Economics, B.Sc</h2>
                    <p>Faculty of Arts, Management
                        & Social
                        Sciences
                    </p>
                </span>
                <span id="span_2">
                    <a href="#">Show More</a>
                    <img src="~/portal/images/programs/icons/circles.png"/>
                </span>
            </section>

            <section>
                <span id="span_1">
                    <h2>Entrepreneurship, B.Sc</h2>
                    <p>Faculty of Arts, Management
                        & Social
                        Sciences
                    </p>
                </span>
                <span id="span_2">
                    <a href="#">Show More</a>
                    <img src="~/portal/images/programs/icons/circles.png"/>
                </span>
            </section>

            <section>
                <span id="span_1">
                    <h2>English Language, B.A</h2>
                    <p>Faculty of Arts, Management
                        & Social
                        Sciences
                    </p>
                </span>
                <span id="span_2">
                    <a href="#">Show More</a>
                    <img src="~/portal/images/programs/icons/circles.png"/>
                </span>
            </section>
        </div>

        <div id="courses">
            <section>
                <span id="span_1">
                    <h2>History & International Studies, B.A</h2>
                    <p>Faculty of Arts, Management
                        & Social
                        Sciences
                    </p>
                </span>
                <span id="span_2">
                    <a href="#">Show More</a>
                    <img src="~/portal/images/programs/icons/circles.png"/>
                </span>
            </section>

            <section>
                <span id="span_1">
                    <h2>Human Anatomy, B.Sc</h2>
                    <p>Faculty of
                        Sciences
                    </p>
                </span>
                <span id="span_2">
                    <a href="#">Show More</a>
                    <img src="~/portal/images/programs/icons/circles.png"/>
                </span>
            </section>

            <section>
                <span id="span_1">
                    <h2>Industrial Chemistry, B.Sc</h2>
                    <p>Faculty of
                        Sciences
                    </p>
                </span>
                <span id="span_2">
                    <a href="#">Show More</a>
                    <img src="~/portal/images/programs/icons/circles.png"/>
                </span>
            </section>
        </div>

        <div id="courses">
            <section>
                <span id="span_1">
                    <h2>Mass Communication, B.Sc</h2>
                    <p>Faculty of Arts, Management
                        & Social
                        Sciences
                    </p>
                </span>
                <span id="span_2">
                    <a href="#">Show More</a>
                    <img src="~/portal/images/programs/icons/circles.png"/>
                </span>
            </section>

            <section>
                <span id="span_1">
                    <h2>Mechanical, Engineering, B.Eng</h2>
                    <p>Faculty of Engineering
                    </p>
                </span>
                <span id="span_2">
                    <a href="#">Show More</a>
                    <img src="~/portal/images/programs/icons/circles.png"/>
                </span>
            </section>

            <section>
                <span id="span_1">
                    <h2>Microbiology, BSc</h2>
                    <p>Faculty of 
                    </p>
                </span>
                <span id="span_2">
                    <a href="#">Show More</a>
                    <img src="~/portal/images/programs/icons/circles.png"/>
                </span>
            </section>
        </div>

        <div id="courses">
            <section>
                <span id="span_1">
                    <h2>Medical Lab. Science,BLMS</h2>
                    <p>Faculty of Basic Medical Sciences
                    </p>
                </span>
                <span id="span_2">
                    <a href="#">Show More</a>
                    <img src="~/portal//programs/icons/circles.png"/>
                </span>
            </section>

            <section>
                <span id="span_1">
                    <h2>Peace and Conflict Studies , B.Sc</h2>
                    <p>Faculty of Arts, Management
                        & Social
                        Sciences
                    </p>
                </span>
                <span id="span_2">
                    <a href="#">Show More</a>
                    <img src="~/portal/images/programs/icons/circles.png"/>
                </span>
            </section>

            <section>
                <span id="span_1">
                    <h2>Physics with Electronics, B.Sc</h2>
                    <p>Faculty of 
                        Sciences
                    </p>
                </span>
                <span id="span_2">
                    <a href="#">Show More</a>
                    <img src="~/portal/images/programs/icons/circles.png"/>
                </span>
            </section>
        </div>

        <div id="courses">
            <section>
                <span id="span_1">
                    <h2>Nursing, BNSc</h2>
                    <p>Faculty of Applied Health Science
                    </p>
                </span>
                <span id="span_2">
                    <a href="#">Show More</a>
                    <img src="~/portal/images/programs/icons/circles.png"/>
                </span>
            </section>

            <section>
                <span id="span_1">
                    <h2>Physiology, B.Sc</h2>
                    <p>Faculty of Basic Medical Sciences
                    </p>
                </span>
                <span id="span_2">
                    <a href="#">Show More</a>
                    <img src="~/portal/images/programs/icons/circles.png"/>
                </span>
            </section>

            <section>
                <span id="span_1">
                    <h2>Political Science &Public Administration, B.Sc</h2>
                    <p>Faculty of Arts, Management
                        & Social
                        Sciences
                    </p>
                </span>
                <span id="span_2">
                    <a href="#">Show More</a>
                    <img src="~/portal/images/programs/icons/circles.png"/>
                </span>
            </section>
        </div>

        <div id="courses">
            <section>
                <span id="span_1">
                    <h2>Plant Biology and Biotechnology, BSc</h2>
                    <p>Faculty of
                        Sciences
                    </p>
                </span>
                <span id="span_2">
                    <a href="#">Show More</a>
                    <img src="~/portal/images/programs/icons/circles.png"/>
                </span>
            </section>

            <section>
                <span id="span_1">
                    <h2>Sociology, B.Sc</h2>
                    <p>Faculty of Arts, Management
                        & Social
                        Sciences
                    </p>
                </span>
                <span id="span_2">
                    <a href="#">Show More</a>
                    <img src="~/portal/images/programs/icons/circles.png"/>
                </span>
            </section>
        </div>
    </div>
        `
    }
}

customElements.define('app-programs', Programs);