@model EDSU_SYSTEM.Models.Course
@using static EDSU_SYSTEM.Models.Enum
@{
    ViewData["Title"] = "Create";
}

<div class="main-container" id="container">
<partial name="_StaffDashboardPartial" />
<!--  BEGIN CONTENT AREA  -->
<div id="content" class="main-content">
    <div class="layout-px-spacing">
        <div class="row layout-spacing">
            <!-- Content -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mx-auto layout-top-spacing">
                <div class="widget">
                    <p>Kindly create courses for your department!</p>
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Code" class="control-label"></label>
                            <input asp-for="Code" class="form-control" />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Level" class="control-label"></label>
                            <select asp-for="Level" class="form-control" asp-items="ViewBag.Level"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Semester" class="control-label"></label>
                            <select asp-for="Semester" class="form-control" asp-items="ViewBag.Semester"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreditUnit" class="control-label">Credit Unit</label>
                            <input asp-for="CreditUnit" class="form-control" />
                            <span asp-validation-for="CreditUnit" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Status" class="control-label"></label>
                            <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<CourseType>()"></select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DepartmentId" class="control-label">Department</label>
                            <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                            <span asp-validation-for="DepartmentId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
               </div>
            </div>
        </div>
    </div>
</div>
<!--  END CONTENT AREA  -->
</div>
<!-- END MAIN CONTAINER -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
