@model EDSU_SYSTEM.Models.PgStudent

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PgStudent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fullname" class="control-label"></label>
                <input asp-for="Fullname" class="form-control" />
                <span asp-validation-for="Fullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label>
                <input asp-for="Sex" class="form-control" />
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Religion" class="control-label"></label>
                <input asp-for="Religion" class="form-control" />
                <span asp-validation-for="Religion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AltPhoneNumber" class="control-label"></label>
                <input asp-for="AltPhoneNumber" class="form-control" />
                <span asp-validation-for="AltPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NationalityId" class="control-label"></label>
                <select asp-for="NationalityId" class="form-control" asp-items="ViewBag.NationalityId"></select>
                <span asp-validation-for="NationalityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateOfOriginId" class="control-label"></label>
                <select asp-for="StateOfOriginId" class="form-control" asp-items="ViewBag.StateOfOriginId"></select>
                <span asp-validation-for="StateOfOriginId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LGAId" class="control-label"></label>
                <select asp-for="LGAId" class="form-control" asp-items="ViewBag.LGAId"></select>
                <span asp-validation-for="LGAId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceOfBirth" class="control-label"></label>
                <input asp-for="PlaceOfBirth" class="form-control" />
                <span asp-validation-for="PlaceOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermanentHomeAddress" class="control-label"></label>
                <input asp-for="PermanentHomeAddress" class="form-control" />
                <span asp-validation-for="PermanentHomeAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactAddress" class="control-label"></label>
                <input asp-for="ContactAddress" class="form-control" />
                <span asp-validation-for="ContactAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaritalStatus" class="control-label"></label>
                <input asp-for="MaritalStatus" class="form-control" />
                <span asp-validation-for="MaritalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextOfkinName" class="control-label"></label>
                <input asp-for="NextOfkinName" class="form-control" />
                <span asp-validation-for="NextOfkinName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextOfKinRelationship" class="control-label"></label>
                <input asp-for="NextOfKinRelationship" class="form-control" />
                <span asp-validation-for="NextOfKinRelationship" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextOfKinPhone" class="control-label"></label>
                <input asp-for="NextOfKinPhone" class="form-control" />
                <span asp-validation-for="NextOfKinPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextOfKinAddress" class="control-label"></label>
                <input asp-for="NextOfKinAddress" class="form-control" />
                <span asp-validation-for="NextOfKinAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchoolEmailAddress" class="control-label"></label>
                <input asp-for="SchoolEmailAddress" class="form-control" />
                <span asp-validation-for="SchoolEmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatNumber" class="control-label"></label>
                <input asp-for="MatNumber" class="form-control" />
                <span asp-validation-for="MatNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Faculty" class="control-label"></label>
                <select asp-for="Faculty" class="form-control" asp-items="ViewBag.Faculty"></select>
                <span asp-validation-for="Faculty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                <select asp-for="Level" class="form-control" asp-items="ViewBag.Level"></select>
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModeOfAdmission" class="control-label"></label>
                <input asp-for="ModeOfAdmission" class="form-control" />
                <span asp-validation-for="ModeOfAdmission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfAdmission" class="control-label"></label>
                <input asp-for="YearOfAdmission" class="form-control" />
                <span asp-validation-for="YearOfAdmission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <select asp-for="Department" class="form-control" asp-items="ViewBag.Department"></select>
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentSession" class="control-label"></label>
                <select asp-for="CurrentSession" class="form-control" asp-items="ViewBag.CurrentSession"></select>
                <span asp-validation-for="CurrentSession" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Cleared" /> @Html.DisplayNameFor(model => model.Cleared)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ClearedBy" class="control-label"></label>
                <select asp-for="ClearedBy" class="form-control" asp-items="ViewBag.ClearedBy"></select>
                <span asp-validation-for="ClearedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
