@model EDSU_SYSTEM.Models.PgStudentSupervisor

@{
    ViewData["Title"] = "Create";
}
<div class="main-container" id="container">
    <partial name="_StaffDashboardPartial" />
    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <div class="layout-px-spacing">
            <div class="row layout-spacing">
                <h4>Post Graduate Supervisor and Student Allocation</h4>
                <!-- Content -->
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 mx-auto layout-top-spacing">
                    <div class="widget-content widget-content-area br-6 p-3">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Student" class="control-label">Student</label>
                                <select asp-for="Student" class="form-control basic" asp-items="ViewBag.Student"></select>
                                <span asp-validation-for="Student" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Supervisor" class="control-label">Supervisor</label>
                                <select asp-for="Supervisor" class="form-control basic" asp-items="ViewBag.Supervisor"></select>
                                <span asp-validation-for="Supervisor" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SupervisorRole" class="control-label">Role of Supervisor</label>
                                <select asp-for="SupervisorRole" class="form-control basic">
                                    <option>-- Choose --</option>
                                    <option value="Chief Lecturer">Chief Supervisor</option>
                                    <option class="Co Lecturer">Co Supervisor</option>
                                </select>
                                <span asp-validation-for="SupervisorRole" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--  END CONTENT AREA  -->
</div>
<!-- END MAIN CONTAINER -->
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
