<app-navigaton class="app-nav"></app-navigaton>
@if (!string.IsNullOrEmpty(ViewBag.Nullerror))
{
    <div class="col-xl-4 col-lg-4 col-sm-4 mx-auto alert alert-danger border-0 mb-4" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button>
            <strong>@ViewBag.Nullerror</strong><br/>
            <strong>@ViewBag.Nullerror2</strong>
    </div> 

}
<div class="row widget-one">
    <div class="col-4 my-auto layout-py-spacing">
        <div class="col-xl-10 col-lg-10 col-sm-10 mx-auto alert alert-arrow-right alert-icon-right alert-light-info mb-4" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" data-dismiss="alert" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>
            <strong>NB!</strong> Optin for this service gives you the luxery
            of keeping up with your child/ward's performances and activities.<br />
        </div>
        <div class="col-xl-10 col-lg-10 col-sm-10 mx-auto alert alert-arrow-right alert-icon-right alert-light-info mb-4" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" data-dismiss="alert" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12" y2="16"></line></svg>
            <strong>Dear Sir/Ma,</strong> Kindly provide your payment transaction ID to enable us help you get started!.
        </div>
        <div class="col-8 mx-auto">
            <form asp-action="GetStarted">
                <label>Transaction ID</label>
                <input class="form-control" name="id" placeholder="EDSU-xxxxxxx" />
                <input type="submit" class="btn btn-primary mt-2" value="Submit" />
            </form>
        </div>
    </div>
    <div class="col-4 mt-3 mx-auto">
        <img src="~/images/exeat.png" style="height:60vh; width:100%"/>
    </div>
</div>

<partial name="_Footer"/>