@*@model EDSU_SYSTEM.Models.PgProgress

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PgProgress</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Program" class="control-label"></label>
                <input asp-for="Program" class="form-control" />
                <span asp-validation-for="Program" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupervisorName" class="control-label"></label>
                <input asp-for="SupervisorName" class="form-control" />
                <span asp-validation-for="SupervisorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ranking" class="control-label"></label>
                <select asp-for="Ranking" class="form-control"></select>
                <span asp-validation-for="Ranking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
@model EDSU_SYSTEM.Models.PgProgress

@{
    ViewData["Title"] = "Create";
}
<div class="admin-data-content layout-top-spacing">
    <div class="row layout-top-spacing" id="cancel-row">
        <div id="fs2Basic" class="col-lg-12 layout-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>Post Graduate Student Progress Report</h4>
                        </div>
                    </div>
                </div>
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SupervisorId" class="control-label">Supervisor</label>
                        <select asp-for="SupervisorId" class="form-control basic" asp-items="ViewBag.Supervisor"></select>
                        @*<select asp-for="SupervisorId" class="form-control basic" asp-items="@(new SelectList(ViewBag.Country,"Id","Name"))"> </select>*@
                        <span asp-validation-for="SupervisorId" class="text-danger"></span>
                    </div>
                   
                    <div class="form-group">
                        <label asp-for="FileName" class="control-label"></label>
                        <input asp-for="FileName" class="form-control" type="file" />
                        <span asp-validation-for="FileName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>



    </div>

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
