@model EDSU_SYSTEM.Models.ConversionStudentSupervisor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UgStudentSupervisor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Student" class="control-label"></label>
                <select asp-for="Student" class="form-control" asp-items="ViewBag.Student"></select>
                <span asp-validation-for="Student" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supervisor" class="control-label"></label>
                <select asp-for="Supervisor" class="form-control" asp-items="ViewBag.Supervisor"></select>
                <span asp-validation-for="Supervisor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupervisorRole" class="control-label"></label>
                <input asp-for="SupervisorRole" class="form-control" />
                <span asp-validation-for="SupervisorRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
