@model Vacancy

<div class="modal fade" id="addCourseware">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addCourseware">Employ Applicant</h4>
                <button class="close" type="button" data-dismiss="modal"><span>X</span></button>
            </div>
            <div class="modal-body">
                <form asp-action="Employ">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ApplicantId" />
                    <label asp-for="FacultyId" class="control-label">Faculty</label>
                    <select asp-for="FacultyId" class="form-control" asp-items="ViewBag.FacultyId"></select>

                    <label asp-for="DepartmentId" class="control-label">Department</label>
                    <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                                    
                    <label asp-for="Position" class="control-label"></label>
                    <select asp-for="Position" class="form-control" asp-items="ViewBag.PositionId"></select>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-primary" data-save="modal">Employ</button>
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                    </div>
            
                </form>
            </div>
            
        </div>
    </div>
</div>
