@model EDSU_SYSTEM.Models.Transcript
@using Microsoft.AspNetCore.Identity
@using static EDSU_SYSTEM.Models.Enum

@{
    ViewData["Title"] = "Create";
}
<div class="main-container" id="container">
<partial name="_StudentDashboardPartial" />
<div id="PlaceHolderHere"></div>
<!--  BEGIN CONTENT AREA  -->
<div id="content" class="main-content">
    <div class="layout-px-spacing">

        <div class="row layout-spacing">

            <!-- Content -->
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 mx-auto layout-top-spacing">

                <div class="widget-one p-3">
                    <h2>Personal Details</h2>
                    <form class="needs-validation" novalidate asp-action="Create" enctype="multipart/form-data" method="post">
                        <div class="form-row">
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <label asp-for="Title" class="control-label"></label>
                                    <select asp-for="Title" class="form-control" asp-items="Html.GetEnumSelectList<Title>()">
                                        <option value="">Title</option>
                                    </select>
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <label asp-for="Surname" class="control-label"></label>
                                    <input asp-for="Surname" class="form-control" />
                                    <span asp-validation-for="Surname" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <label asp-for="Firstname" class="control-label"></label>
                                    <input asp-for="Firstname" class="form-control" />
                                    <span asp-validation-for="Firstname" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <label asp-for="Othername" class="control-label"></label>
                                    <input asp-for="Othername" class="form-control" />
                                    <span asp-validation-for="Othername" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <label asp-for="MatNo" class="control-label">Matriculation Number</label>
                                    <input asp-for="MatNo" class="form-control" />
                                    <span asp-validation-for="MatNo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <label asp-for="Programme" class="control-label"></label>
                                    <input asp-for="Programme" class="form-control" />
                                    <span asp-validation-for="Programme" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <label asp-for="GraduationDate" class="control-label">Graduation Date</label>
                                    <input asp-for="GraduationDate" class="form-control" />
                                    <span asp-validation-for="GraduationDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <label asp-for="PhoneNumber" class="control-label">Phone</label>
                                    <input asp-for="PhoneNumber" class="form-control" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <label asp-for="AppliedBefore" class="control-label">Have you aplied before?</label>
                                    <input asp-for="AppliedBefore" class="form-control" />
                                    <span asp-validation-for="AppliedBefore" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <label asp-for="IfYes" class="control-label">If Yes, What date?</label>
                                    <input asp-for="IfYes" class="form-control" />
                                    <span asp-validation-for="IfYes" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <h2>Destination Details</h2>
                        <div class="form-row">
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <label asp-for="DestinationName" class="control-label">Destination Name</label>
                                    <input asp-for="DestinationName" class="form-control" />
                                    <span asp-validation-for="DestinationName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <label asp-for="Address1" class="control-label">Address 1</label>
                                    <input asp-for="Address1" class="form-control" />
                                    <span asp-validation-for="Address1" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <label asp-for="Address2" class="control-label">Address 2</label>
                                    <input asp-for="Address2" class="form-control" />
                                    <span asp-validation-for="Address2" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <label asp-for="City" class="control-label"></label>
                                    <input asp-for="City" class="form-control" />
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <label asp-for="ZipCode" class="control-label">Zip Code</label>
                                    <input asp-for="ZipCode" class="form-control" />
                                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <label asp-for="Country" class="control-label"></label>
                                    <input asp-for="Country" class="form-control" />
                                    <span asp-validation-for="Country" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">

                            <div class="col-md-4 ">
                                <div class="form-group">
                                    <label asp-for="TranscriptLabel" class="control-label">Transcript Label</label>
                                    <input asp-for="TranscriptLabel" class="form-control" />
                                    <span asp-validation-for="TranscriptLabel" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <label asp-for="ReceiptNumber" class="control-label">Receipt Number</label>
                                    <input asp-for="ReceiptNumber" class="form-control" />
                                    <span asp-validation-for="ReceiptNumber" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary" type="submit" data-toggle="ajax-modal" data-target="#addCourseware">Submit</button>
                    </form>
                    
                </div>
                
            </div>

        </div>
    </div>
    <div class="footer-wrapper">
        <div class="footer-section f-section-1">
            <p class="">Copyright © 2021 <a target="_blank" href="https://designreset.com">DesignReset</a>, All rights reserved.</p>
        </div>
        <div class="footer-section f-section-2">
            <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
        </div>
    </div>
</div>
<!--  END CONTENT AREA  -->
    </div>
<!-- END MAIN CONTAINER -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
