@model EDSU_SYSTEM.Models.Transcript

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Transcript</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <select asp-for="Title" class="form-control"></select>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Othername" class="control-label"></label>
                <input asp-for="Othername" class="form-control" />
                <span asp-validation-for="Othername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatNo" class="control-label"></label>
                <input asp-for="MatNo" class="form-control" />
                <span asp-validation-for="MatNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Programme" class="control-label"></label>
                <input asp-for="Programme" class="form-control" />
                <span asp-validation-for="Programme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GraduationDate" class="control-label"></label>
                <input asp-for="GraduationDate" class="form-control" />
                <span asp-validation-for="GraduationDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AppliedBefore" /> @Html.DisplayNameFor(model => model.AppliedBefore)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="IfYes" class="control-label"></label>
                <input asp-for="IfYes" class="form-control" />
                <span asp-validation-for="IfYes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestinationName" class="control-label"></label>
                <input asp-for="DestinationName" class="form-control" />
                <span asp-validation-for="DestinationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestinationEmail" class="control-label"></label>
                <input asp-for="DestinationEmail" class="form-control" />
                <span asp-validation-for="DestinationEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address1" class="control-label"></label>
                <input asp-for="Address1" class="form-control" />
                <span asp-validation-for="Address1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address2" class="control-label"></label>
                <input asp-for="Address2" class="form-control" />
                <span asp-validation-for="Address2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TranscriptLabel" class="control-label"></label>
                <input asp-for="TranscriptLabel" class="form-control" />
                <span asp-validation-for="TranscriptLabel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Receipt" class="control-label"></label>
                <input asp-for="Receipt" class="form-control" />
                <span asp-validation-for="Receipt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiptNumber" class="control-label"></label>
                <input asp-for="ReceiptNumber" class="form-control" />
                <span asp-validation-for="ReceiptNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationOfResult" class="control-label"></label>
                <input asp-for="NotificationOfResult" class="form-control" />
                <span asp-validation-for="NotificationOfResult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Others" class="control-label"></label>
                <input asp-for="Others" class="form-control" />
                <span asp-validation-for="Others" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
