<div class="nav">
    <app-navigaton class="col-md-11"></app-navigaton>
    <partial name="_LoginPartial" class="col-md-1" />
</div>
<div class="heading">
    <h1>About Edo State University</h1>
</div>

<div class="background">
    <img src="~/portal/images/about/aboutBG.png" alt="a picture of edo state university uzairue — there are trees and benches">
</div>

<div class="wrapped-text">
    <div class="text">
        <h1>THE FOUNTAIN OF KNOWLEDGE</h1>
        <p>
            Edo State University Uzairue (formerly Edo University Iyamho), was established by the Edo University Uzairue
            Law (2014) and subsequently amended to Edo University Iyamho, Uzairue, (Amendment Law 2015). It was further
            amended as Edo University Iyamho (Amendment Law 2016). The University was accorded recognition and issued
            license by the National Universities Commission on 23rd March, 2016, as the 41st State owned University and
            142nd University in Nigeria. <br>

            Edo State University Uzairue is a fee-paying institution of world-class standard. The purpose for
            establishing the University is to meet the increasing demands for quality tertiary education in Edo State in
            particular and Nigeria in general. The Edo State Government also realised that developing human capital
            through quality education is the key to meaningful development of the State, hence the need to establish a
            University that will provide quality education. The University is also expected to propel social, economic,
            political, cultural, scientific and industrial growth of the State and Nigeria. The establishment of theEdo
            State University Uzairue will equally increase access to tertiary education for Edo State citizens and other
            Nigerians. Edo State University Uzairue is fully owned by Edo State Government.
        </p>
    </div>
</div>

<div class="our-vision">
    <div class="our-vision-image">
        <img src="~/portal/images/about/vision.png" alt="students of edo state university">
    </div>

    <div class="our-vision-text">
        <h1>Our <span>Vision</span></h1>
        <p>
            "The vision of Edo State University, Uzairue, is to become the centre of excellence
            in quality teaching, reasearch, innovations and community development."
        </p>
    </div>
</div>

<div class="our-mission">
    <div class="our-mission-text">
        <h1>Our <span>Mission</span></h1>
        <p>
            Through its teaching, research, and innovative
            activities, the University is poised to be a major
            contributor in the advancement of Knowledge,
            wisdom and understanding for the benefit of the
            University in encouraging and promoting
            scholarship and will relate its activities to social,
            cultural, and economic needs of the people of Edo
            State in particular, and Nigeria in general.
        </p>
    </div>

    <div class="our-mission-image">
        <img src="~/portal/images/about/mission.png" alt="students of edo state university">
    </div>
</div>


<section class="teamContainer">
    <h1>
        MANAGEMENT STAFF
    </h1>
    <div class="contain">
        <div class="teamBody">
            <div class="teamImage">
                <img src="https://www.edouniversity.edu.ng/uploads/users/regularization/passport/vc_pics1.jpg" alt="">
            </div>
            <div class="teamPosition">
                <h4>
                    Prof. Emmanuel O. Aluyor
                </h4>
                <p>
                    Vice-Chancellor.
                </p>
                @*<div class="teamSocial">
                    <div class="social">
                        <a href="https://github.com/Explorarthecreator">
                            <i class="fab fa-twitter fa-2x"></i>
                        </a>
                    </div>
                    <div class="social">
                        <a href="https://github.com/Explorarthecreator">
                            <i class="fab fa-github fa-2x"></i>
                        </a>
                    </div>
                    <div class="social">
                        <a href="https://github.com/Explorarthecreator">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                    </div>
                </div>*@
            </div>
        </div>

        <div class="teamBody">
            <div class="teamImage">
                <img src="https://www.edouniversity.edu.ng/uploads/users/regularization/passport/DVC1.jpg" alt="">
            </div>
            <div class="teamPosition">
                <h4>
                    Prof. Anthony Obioma Nwaopara
                </h4>
                <p>
                    Deputy Vice-Chancellor (Admin).
                </p>
                @*<div class="teamSocial">
                    <div class="social">
                        <a href="https://github.com/Explorarthecreator">
                            <i class="fab fa-twitter fa-2x"></i>
                        </a>
                    </div>
                    <div class="social">
                        <a href="https://github.com/Explorarthecreator">
                            <i class="fab fa-github fa-2x"></i>
                        </a>
                    </div>
                    <div class="social">
                        <a href="https://github.com/Explorarthecreator">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                    </div>
                </div>*@
            </div>
        </div>

        <div class="teamBody">
            <div class="teamImage">
                <img src="https://www.edouniversity.edu.ng/uploads/users/regularization/passport/DVC2.jpeg" alt="">
            </div>
            <div class="teamPosition">
                <h4>
                    Prof. Vincent Aizebeoje Balogun
                </h4>
                <p>
                    Deputy Vice Chancellor (Academic).
                </p>
                @*<div class="teamSocial">
                    <div class="social">
                        <a href="https://github.com/Explorarthecreator">
                            <i class="fab fa-twitter fa-2x"></i>
                        </a>
                    </div>
                    <div class="social">
                        <a href="https://github.com/Explorarthecreator">
                            <i class="fab fa-github fa-2x"></i>
                        </a>
                    </div>
                    <div class="social">
                        <a href="https://github.com/Explorarthecreator">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                    </div>
                </div>*@
            </div>
        </div>

        <div class="teamBody">
            <div class="teamImage">
                <img src="https://www.edouniversity.edu.ng/uploads/users/regularization/passport/registra1.jpeg" alt="">
            </div>
            <div class="teamPosition">
                <h4>
                    Mr Habib I. Ikhelefo
                </h4>
                <p>
                    Ag. Registrar.
                </p>
                @*<div class="teamSocial">
                    <div class="social">
                        <a href="https://github.com/Explorarthecreator">
                            <i class="fab fa-twitter fa-2x"></i>
                        </a>
                    </div>
                    <div class="social">
                        <a href="https://github.com/Explorarthecreator">
                            <i class="fab fa-github fa-2x"></i>
                        </a>
                    </div>
                    <div class="social">
                        <a href="https://github.com/Explorarthecreator">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                    </div>
                </div>*@
            </div>
        </div>

        <div class="teamBody">
            <div class="teamImage">
                <img src="https://www.edouniversity.edu.ng/uploads/users/regularization/passport/bursar2.jpeg" alt="">
            </div>
            <div class="teamPosition">
                <h4>
                    Mr Osifo Osagie I. Uwagboe
                </h4>
                <p>
                    Ag. Bursar.
                </p>
                @*<div class="teamSocial">
                    <div class="social">
                        <a href="https://github.com/Explorarthecreator">
                            <i class="fab fa-twitter fa-2x"></i>
                        </a>
                    </div>
                    <div class="social">
                        <a href="https://github.com/Explorarthecreator">
                            <i class="fab fa-github fa-2x"></i>
                        </a>
                    </div>
                    <div class="social">
                        <a href="https://github.com/Explorarthecreator">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</section>


<section class="teamContainer">
    <h1>
        GOVERNING COUNCIL
    </h1>
    <div class="contain">
        <div class="teamBody">
            <div class="teamImage">
                <img src="https://www.edouniversity.edu.ng/uploads/users/regularization/passport/prof_emeritus_tok%20_audu.jpg" alt="">
            </div>
            <div class="teamPosition">
                <h4>
                    Professor Emeritus T. O. K. Audu
                </h4>
                <p>
                    Ag Chairman, Governing Council.
                </p>
                
            </div>
        </div>

        <div class="teamBody">
            <div class="teamImage">
                <img src="https://www.edouniversity.edu.ng/uploads/users/regularization/passport/bishop_dunia.jpg" alt="">
            </div>
            <div class="teamPosition">
                <h4>
                    Bishop Gabriel G. Dunia
                </h4>
                <p>
                    Member, Governing Council.
                </p>
                
            </div>
        </div>

        <div class="teamBody">
            <div class="teamImage">
                <img src="https://www.edouniversity.edu.ng/uploads/users/regularization/passport/mr_asue-asue-ighodalo.jpg" alt="">
            </div>
            <div class="teamPosition">
                <h4>
                    Mr. Asue Ighodala
                </h4>
                <p>
                    Member, Governing Council.
                </p>
                
            </div>
        </div>

        
    </div>
</section>

    <div class="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63344.7198085637!2d6.304998902302695!3d7.1207849570028205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10467dce241b532f%3A0x8e0424e2395a3186!2sEdo%20State%20University%20Uzairue!5e0!3m2!1sen!2sng!4v1666134960359!5m2!1sen!2sng" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>


    <app-newsletter></app-newsletter>

<partial name="_Footer" />
