<div class="nav">
        <app-navigaton class="col-md-11"></app-navigaton>
        <partial name="_LoginPartial" class="col-md-1"/>
    </div>


   @* <h1 class="oswald">
        Contact Us
    </h1>
    <p class="poppins contact-details">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>*@

    <div class="messagebox">
        <h3 class="oswald">
            Send us a message
        </h3>
        <div class="seperateinput">
            <div>
                <label for="" class="oswald">Full Name</label>
                <input type="text" name="Full Name" id="" class="poppins bottomless almost-full">
            </div>
            <div>
                <label for="Email" class="oswald">Email Addresss</label>
                <input type="email" name="Email" id="" class="poppins bottomless almost-full">
            </div>
        </div>

        <div class="seperateinput">
            <div>
                <label for="" class="oswald">Phone Number</label>
                <input type="tel" name="Phone" id="" class="poppins bottomless almost-full">
            </div>
            <div>
                <label for="company" class="oswald">Company Name</label>
                <input type="text" name="company" id="" class="poppins bottomless almost-full">
            </div>
        </div>

        <div>
            <label for="" class="oswald">Message</label>
            <textarea name="" id="" cols="30" rows="10" class="poppins bottomless full" placeholder="aefe" style="height: 80px;">Dear Sir/Madam</textarea>
        </div>

        <div class="conditions">
            <div>
                <input type="checkbox" name="" id="" style="height: 30px; width:41px;"> Accept terms and condition
            </div>
            <button class="poppins">
                SEND
            </button>
        </div>
    </div>

    <div class="contact-icons">
        <div class="icon-box">
            <div class="icon">
                <i class="fa-solid fa-location-dot"></i>
            </div>
            <p class="details poppins">
                Km7, Auchi-Abuja Road, Iyamho-Uzairue Edo State, Nigeria
            </p>
        </div>
        <div class="icon-box">
            <div class="icon">
                <i class="fa-solid fa-phone"></i>
            </div>
            <p class="details poppins">
                08064888518,08065528915, 09025412171, 07012641913
            </p>
        </div>
        <div class="icon-box">
            <div class="icon">
                <i class="fa-regular fa-envelope"></i>
            </div>
            <p class="details poppins">
                registrar@edouniversity.edu.ng
            </p>
        </div>
    </div>


    <app-newsletter></app-newsletter>

<partial name="_Footer"/>