@model IEnumerable<EDSU_SYSTEM.Models.LatestNews>
<partial name="_Nav" />
<style>
    #text-content{
        max-height: 3em;
        overflow: hidden;
    }

        #text-content.expanded {
            max-height: none;
            overflow: visible;
        }
</style>
<section class="news">

    <div class="heading">
        <h1>Staff Directories</h1>
    </div>

    

</section>


<app-newsletter></app-newsletter>
<partial name="_Footer"/>


