<partial name="_Nav" />

<section class="news">

    <div class="heading">
        <h1>Event Gallery</h1>
    </div>

</section>

<section class="latest-news">
    <div class="d-flex">
        <div class="widget-content widget-content-area">
            <div class="card component-card_9">
                <img src="~/portal/images/event/img_0026.jpg" class="card-img-top" alt="widget-card-2">
                <div class="card-body">
                    <p class="meta-date">@DateTime.Now.ToLongDateString()</p>

                    <h5 class="card-title">2022/2023 GRADUANDS OF EDO STATE UNIVERSITY UZAIRUE</h5>
                    <p class="card-text"></p>

                    <div class="meta-info">
                        <div class="meta-user">
                            <div class="user-name"></div>
                        </div>

                        <div class="meta-action">
                            <div class="meta-likes">
                                
                            </div>
                            @*<div class="meta-view bs-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
                            </div>*@
                        </div>

                    </div>

                </div>
            </div>


        </div>
        <div class="widget-content widget-content-area">
            <div class="card component-card_9">
                <img src="~/portal/images/event/img_0079.jpg" class="card-img-top" alt="widget-card-2">
                <div class="card-body">
                    <p class="meta-date">@DateTime.Now.ToLongDateString()</p>

                    <h5 class="card-title">6TH VC CUP FEMALE PARTICIPANTS FROM THE FACULTIES OF LAW AND ARTS</h5>
                    <p class="card-text"></p>

                    <div class="meta-info">
                        <div class="meta-user">
                            <div class="user-name"></div>
                        </div>

                        <div class="meta-action">
                            <div class="meta-likes">
                            </div>
                            @*<div class="meta-view bs-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
                            </div>*@
                        </div>

                    </div>

                </div>
            </div>
        </div> 
        <div class="widget-content widget-content-area ">
            <div class="card component-card_9">
                <img src="~/portal/images/event/img_0202.jpg" class="card-img-top" alt="widget-card-2">
                <div class="card-body">
                    <p class="meta-date">@DateTime.Now.ToLongDateString()</p>

                    <h5 class="card-title">THE VC PRESENTING THE CUP TO THE WINNERS (LAW FACULTY) OF THE 6TH VC CUP</h5>
                    <p class="card-text"></p>

                    <div class="meta-info">
                        <div class="meta-user">
                            <div class="user-name"></div>
                        </div>

                        <div class="meta-action">
                            <div class="meta-likes">
                            </div>
                            @*<div class="meta-view bs-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
                            </div>*@
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</section>

<app-newsletter></app-newsletter>
<partial name="_Footer"/>