@model IEnumerable<EDSU_SYSTEM.Models.LatestNews>
<div class="nav">
    <app-navigaton class="col-md-11"></app-navigaton>
    <partial name="_LoginPartial" class="col-md-1" />
</div>
<section class="news">

    <div class="heading">
        <h1>Fees</h1>
    </div>
    
</section>

<app-newsletter></app-newsletter>
<partial name="_Footer"/>


