@model IEnumerable<EDSU_SYSTEM.Models.LatestNews>
<partial name="_Nav" />
<section class="news">

    <div class="heading">
        <h1>Fees</h1>
    </div>
    
</section>

<app-newsletter></app-newsletter>
<partial name="_Footer"/>


