<div class="nav">
    <app-navigaton class="col-md-11"></app-navigaton>
    <partial name="_LoginPartial" class="col-md-1" />
</div>

<section class="news">

    <div class="heading">
        <h1>Building Gallery</h1>
    </div>

</section>

<section class="latest-news">
    <div class="building-gallery">
       
        <div class="building-gallery-grid">
            <div class="field">
                <img src="~/portal/images/about/footballpitch.png" alt="a wide picture of the school's football pitch">
            </div>
            <div class="signboard">
                <img src="~/portal/images/about/signboard.png" alt="a board with the inscription edo state university">
            </div>
        </div>

        <div class="building-gallery-grid-two">
            <div class="auditorium">
                <img src="~/portal/images/about/auditorium.png" alt="a wide picture of the school's football pitch">
            </div>
            <div class="medical">
                <img src="~/portal/images/about/medicalblock.png" alt="a board with the inscription edo state university">
            </div>
            <div class="admin">
                <img src="~/portal/images/about/adminblock.png" alt="a board with the inscription edo state university">
            </div>
        </div>
    </div>

</section>

<app-newsletter></app-newsletter>
<partial name="_Footer"/>