<div class="nav">
    <app-navigaton class="col-md-11"></app-navigaton>
    <partial name="_LoginPartial" class="col-md-1" />
</div>


   @* <h1 class="oswald">
        Contact Us
    </h1>
    <p class="poppins contact-details">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>*@

<img src="~/images/help.svg" />


    <app-newsletter></app-newsletter>

<partial name="_Footer"/>