<div class="nav">
    <app-navigaton class="col-md-11"></app-navigaton>
    <partial name="_LoginPartial" class="col-md-1" />
</div>

<section class="news">

    <div class="heading">
        <h1>EDSU Magazine</h1>
    </div>

</section>

<section class="latest-news">
    <div class="row">
        @foreach (var item in ViewBag.magazine)
        {
            <div class="widget-content widget-content-area">

                <div class="card component-card_9">
                    <img src="~/files/magazines/image/@item.Image" class="card-img-top" alt="widget-card-2">
                    <div class="card-body">
                        @*<p class="meta-date">@item.CreatedAt.ToLongDateString()</p>*@

                        <h5 class="card-title">@item.Title</h5>

                        <div class="meta-info">
                            <div class="meta-user">
                                @*<div class="user-name">@item.LectureName</div>*@
                            </div>

                            <div class="meta-action">
                                <a asp-action="DownloadMagazine" asp-controller="Home" asp-route-name="@item.File" >
                                <div class="meta-likes">
                                   Download
                                </div>
                                </a>
                                <div class="meta-view bs-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        }
        </div>

</section>

<app-newsletter></app-newsletter>
<partial name="_Footer"/>