<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav</title>
    <link rel="stylesheet" href="css/nav.css">
    <!-- Font Links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="nav">
        <div class="logo">
            <img src="images/nav/logo 1.png" alt="">
            <h3>
                Edo State <br> University Uzairue
            </h3>
        </div>
        <ul>
            <li >
                <a href="" class="active">
                    Home
                </a>
            </li>
            <li>
                <a href="">
                    About
                </a>
            </li>
            <li>
                <a href="">
                    Programs
                </a>
            </li>
            <li>
                <a href="">
                    Activity
                </a>
            </li>
            <li>
                <a href="">
                    Contact Us
                </a>
            </li>
            <li>
                <a href="">
                    Students
                </a>
            </li>
        </ul>
        <button class="button">
            <a href="" class="green">
                Sign In
            </a>
        </button>
        <button class="button">
            <a href="" class="blue">
                LMS
            </a>
        </button>
    </nav>

    <p class="pushdown">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla et expedita totam iste ad in ducimus rem! Sunt iusto autem fugit, minus, nisi obcaecati exercitationem dolores voluptate perspiciatis soluta necessitatibus! Dolorem, modi veritatis autem ut molestias magnam. Quos deleniti consectetur porro eaque, eos assumenda vitae obcaecati harum fugiat eligendi esse at illum quo, inventore provident repellat natus sint totam voluptates in soluta perferendis, nam suscipit nostrum? Illo quod qui adipisci. Necessitatibus, maxime! Facere voluptatum, suscipit temporibus consequuntur natus quasi amet. Harum pariatur necessitatibus saepe cum veritatis! Suscipit molestias dolor obcaecati doloremque quaerat magnam at dolore consectetur maiores praesentium odio quam sequi quos repellendus amet tempora voluptates, iste consequuntur ad quibusdam? Impedit magnam necessitatibus vel tempore asperiores commodi cum temporibus, aspernatur, nisi excepturi nesciunt exercitationem deleniti! Repellat ea quae sunt quidem quo. Rem quam possimus mollitia earum tempore illo deserunt quae! Suscipit mollitia vero molestias laboriosam accusamus cum deserunt aspernatur quod veritatis, dicta, assumenda amet doloremque quam expedita officia, non in? Laudantium voluptate voluptatem, eligendi dicta nemo ea mollitia accusantium modi perspiciatis et nisi sapiente a nam nulla, atque enim iste ullam quo impedit neque iusto ipsum? Voluptas beatae itaque tempore architecto, officia magnam similique pariatur alias laborum, ut quisquam delectus corporis, illum culpa hic praesentium. Maxime, dolorem voluptatibus. Reprehenderit adipisci architecto itaque. Impedit tempore veniam repellat, ipsa sequi repellendus reprehenderit ullam totam eveniet voluptates. Velit veritatis, sed consequatur fugiat eos qui nemo nihil, pariatur neque rerum ipsa earum dicta officiis fuga blanditiis architecto facilis magnam numquam ipsum eum. Corrupti exercitationem quam praesentium, atque est aliquam eligendi! Commodi adipisci totam consequatur ex placeat odio dicta nemo vero vitae atque quod suscipit dignissimos, amet tempore facere et, corrupti distinctio officia quisquam iusto. Quod minus rem tempora voluptatum dolores quasi, ipsum nulla mollitia quisquam vitae, vero excepturi ad impedit praesentium temporibus perspiciatis non. Harum eos hic nulla officiis accusantium fugiat, assumenda deleniti quaerat incidunt nam iste, molestias molestiae rem blanditiis mollitia voluptas praesentium? Perferendis impedit sit voluptate totam, odit quo laudantium ratione illum ullam id? Mollitia deleniti nostrum ipsam fugiat at non repellendus aperiam alias! Quas voluptatem architecto ad beatae! Eius aspernatur obcaecati, cumque ea rem assumenda ab. Nam tempore libero nostrum maiores corporis sapiente dicta! Doloremque illo voluptates iure quibusdam qui! Maiores et nostrum quo unde eveniet. Asperiores quibusdam in blanditiis fugiat quidem veniam. Accusamus deleniti, autem quam perspiciatis obcaecati deserunt, unde quis amet voluptate, ratione totam debitis aliquam excepturi. Soluta fugit quisquam consequatur magnam non quibusdam deserunt, ratione praesentium ipsum labore dolore aperiam blanditiis nemo architecto, numquam doloremque accusantium excepturi beatae error maiores. Commodi quis cupiditate laudantium impedit vel sint ducimus aperiam in, saepe perferendis. Maxime voluptatibus nihil laudantium! Atque voluptas, natus consequatur aspernatur vel nulla illo nobis saepe blanditiis nesciunt eligendi consequuntur sunt facere minus culpa nam possimus soluta delectus ratione! Cumque unde suscipit tenetur voluptatibus consequatur autem reiciendis obcaecati, fuga impedit numquam neque aspernatur, quisquam voluptatem exercitationem provident rerum labore. Sunt cupiditate maxime ea qui corporis fugit non a blanditiis doloremque, aperiam at nisi dolor unde quia vitae, nam perferendis corrupti laudantium praesentium tempora doloribus velit, sequi atque itaque? Iure ipsam aliquam in saepe eligendi harum dicta doloribus quo, magnam commodi quae, temporibus dolore dolorem voluptatum eaque cum quaerat aspernatur vel, possimus corrupti voluptates minus! Dignissimos commodi, sit necessitatibus vel suscipit ea illum et voluptates alias minima, assumenda quidem, illo ratione a delectus placeat ab veniam sapiente rem! Doloremque, dolorem dolor ipsa quas, illum, aspernatur impedit esse repellat architecto hic quam incidunt id nemo. Temporibus nesciunt magnam possimus doloribus rerum labore nihil distinctio tenetur? Quidem, eligendi. Inventore vitae, incidunt autem libero at esse fuga sit. Consequuntur, praesentium. Ab in at sint, neque odit, earum delectus vero quis libero modi nesciunt blanditiis mollitia dicta. Distinctio laborum itaque iste vero voluptatum fuga excepturi iure mollitia facilis recusandae cumque qui, labore deserunt inventore, eligendi placeat reprehenderit doloribus ipsam aperiam ipsum esse? Esse nulla quos, dolorum impedit ratione sit provident rerum ab. Saepe, quidem at ratione earum fugiat nam suscipit recusandae officiis vitae quis! Quod rerum repellendus eveniet reiciendis similique obcaecati earum adipisci fugit! Praesentium odio est explicabo repellendus inventore ullam, accusamus libero officiis molestias ratione harum quos vitae? Libero, non eius quam ipsum tenetur temporibus quas itaque pariatur, quia odit eaque commodi saepe nulla quos id neque fuga in. Non, eligendi. Sit magni nisi nihil natus labore repellat quo, odit atque eum, obcaecati error corporis rem explicabo, nam dolorem! Quaerat dolor illum ab velit fugiat explicabo, dolore pariatur ad doloremque laudantium eaque iusto maiores cum molestiae nihil praesentium beatae molestias. Possimus ipsum, totam eius at doloremque dolor cum quo aspernatur nesciunt. Nam inventore at enim quibusdam autem. Culpa impedit, nostrum ea porro in laboriosam reprehenderit libero vitae animi? Ipsa quos maiores, veniam, possimus eos velit atque fugit natus repellat autem soluta architecto. Deleniti ex saepe minima ipsum iusto sed, fugiat enim inventore autem odio, nemo aliquid natus, laudantium iure magni nostrum animi porro sequi maxime? Tempora minus, accusantium quod sapiente quaerat, suscipit quo consequatur odio voluptatem unde amet nobis. Fugiat perspiciatis suscipit, delectus dolores dolor officiis pariatur expedita alias aperiam quos dolorem at eaque sed? Ullam accusamus impedit rem recusandae ad quaerat mollitia perspiciatis. Tempore quis velit quos facere nemo, temporibus, suscipit totam molestiae aliquid, eaque quam. Et doloribus minima reprehenderit sequi libero temporibus molestias aliquid cumque eveniet, est expedita quaerat numquam unde recusandae! Eveniet inventore pariatur ipsum impedit placeat rem mollitia dolores vitae possimus nihil iste, sunt corporis accusamus perferendis nobis quis libero porro veritatis consectetur? Odit obcaecati asperiores non dolorem sunt repudiandae labore amet nemo officia eos corrupti rerum vero eius nihil explicabo ut aperiam exercitationem omnis soluta, cupiditate quos velit blanditiis corporis alias! Nulla eaque blanditiis praesentium sit similique ex velit, magnam quae ipsum incidunt consequuntur nostrum suscipit aspernatur unde! Distinctio excepturi officiis obcaecati modi soluta aliquid quidem! Tenetur dolores unde molestias sequi officia et exercitationem consectetur obcaecati ullam dignissimos voluptates, nemo suscipit dicta iure quam facere? Necessitatibus fugit fugiat dolores et atque ipsam eveniet, inventore tempora iure a, nobis facilis delectus nemo corrupti nesciunt pariatur error magni rerum quo doloribus. Harum minus quos molestiae, labore cum dolore soluta fugiat impedit consequuntur! Tenetur itaque temporibus nam ad voluptate odio esse nulla. Cum officia voluptatem rem omnis, earum dolorum consequuntur, consectetur, inventore rerum quod officiis esse ea. Dolor explicabo quaerat esse tenetur tempora quisquam, rerum impedit inventore, quis aperiam doloremque eos? Sapiente facilis aspernatur voluptatem esse minima maxime ad tempora sint atque ex, eos aliquam illo eum eligendi architecto doloremque itaque tenetur labore nostrum sunt vel! In, fugiat debitis. Numquam maxime pariatur nemo corrupti similique, sint quibusdam aliquam libero rem at id tempore. Sunt architecto error quos maiores. Hic voluptas sint eaque necessitatibus recusandae, vero rerum? In, sit. Id officia voluptates veniam quaerat esse temporibus, eius fugiat, cupiditate similique maiores voluptate aliquam sit obcaecati quam assumenda impedit eligendi repellendus reiciendis, architecto porro modi doloremque tempora. Repellat voluptates doloribus repudiandae, culpa quas dolor obcaecati, sit veniam accusantium omnis ex optio necessitatibus aliquam? Sint, cumque. Sapiente veritatis odit dicta! Magnam quia ab autem a! Eligendi sed fuga voluptatum asperiores, reprehenderit, totam a optio suscipit nostrum nihil consequatur deleniti. Consectetur, velit quo exercitationem laboriosam eius asperiores ex rem maxime necessitatibus soluta eaque mollitia fuga, sed obcaecati at explicabo accusantium eveniet natus corporis possimus non illo. Accusamus et porro eum magnam dicta ipsa alias temporibus officiis iure voluptatibus, sit, quas voluptatem necessitatibus reiciendis mollitia cupiditate quaerat eveniet error! Molestiae, impedit? Cupiditate praesentium culpa dolorem, ducimus assumenda iure obcaecati deleniti voluptate consequuntur porro, tempora iste reprehenderit. Dolor quis molestiae temporibus dolorum earum corporis voluptatum, iusto eaque similique exercitationem, consequuntur placeat assumenda eligendi iure omnis illo necessitatibus, nihil libero. In sit tenetur hic voluptatem, sunt porro similique, quos officiis cumque optio ratione dolor veniam neque error libero nulla, ex provident placeat! Repudiandae ipsa ipsum dolor adipisci praesentium. Consectetur debitis aspernatur ullam nisi magni facere, illo reprehenderit at laudantium consequatur neque facilis soluta optio quasi sit labore dolore, ipsam eveniet aperiam exercitationem? Molestias in laborum rerum odio cum, esse fugiat quas reiciendis sed fuga voluptas dicta ut laboriosam doloribus illum pariatur exercitationem repellendus, iusto velit dolores voluptate ab doloremque! Voluptatem eos, at, similique rerum id consequatur delectus fugiat accusantium voluptate ipsa cum beatae doloremque harum! Hic adipisci autem expedita sint laboriosam, eius tempora fuga iure laudantium reiciendis, eaque pariatur assumenda vel distinctio labore at minima accusantium. Consectetur, nostrum sint quisquam architecto tempora perferendis veritatis ea nihil praesentium corporis vel autem minima voluptatibus quod, nisi expedita a magnam optio debitis at distinctio. Error eveniet quasi, sequi nemo eligendi quis laboriosam aperiam expedita at ratione consequatur perferendis velit, obcaecati adipisci, officia amet harum impedit modi! Excepturi, aut, delectus cumque at minima autem dolores deserunt doloremque sint dolorum possimus magnam debitis praesentium, eum voluptate. Omnis, sunt adipisci error ut quis alias id totam officiis. Quo incidunt sequi dolores sunt voluptas enim. Necessitatibus laborum, beatae est modi dolore placeat neque eos tempore pariatur exercitationem vel optio veniam aliquam autem voluptates perferendis, vitae incidunt nostrum minima odit quas debitis porro. Quod error labore, reiciendis vel nam sequi dolor enim quaerat ea saepe laudantium ipsam consequatur quisquam perferendis recusandae voluptates nulla laborum, itaque quam voluptate ut. Excepturi provident ipsum cumque ab adipisci vero dolorum, dignissimos officia laborum consequuntur esse tempore quos, pariatur aperiam, fugit reprehenderit id sed error necessitatibus corrupti eum. Dolorum labore illum numquam! Voluptatum provident quis omnis aliquid, quo odio voluptate, reiciendis doloribus nisi, vel temporibus eos vero delectus eaque laudantium incidunt at ipsam laborum atque facilis! Esse suscipit recusandae fuga quae ipsa voluptatum deserunt dolorum hic perferendis! Iusto accusamus beatae debitis ipsam! Blanditiis mollitia libero inventore ipsa quaerat expedita nesciunt consequuntur quasi provident quas tenetur voluptas voluptatibus, tempore earum nam ullam illum quae magni nostrum sint fugit nisi. Explicabo vero assumenda, deleniti modi cumque reprehenderit totam expedita ullam atque nostrum velit sed, fugit ipsa. Atque veritatis repellat aspernatur doloribus dicta modi tempora ut expedita. Consequatur quos nobis vero dicta commodi fugit earum temporibus iure quae animi, suscipit cupiditate vitae, nam repellendus dolorem reiciendis tempore quam. Accusamus hic tenetur amet ad, aut officia, id ratione assumenda laboriosam molestias, eius doloremque cum quaerat perspiciatis nihil illo vitae autem deserunt eos nemo natus? Corrupti accusamus magni et cumque magnam iste ipsum totam voluptate nam sapiente porro dolores, eligendi provident vel perspiciatis quaerat! Vel aut expedita eum dignissimos voluptate, inventore doloribus, amet adipisci ullam ab accusantium neque iusto! Ratione hic quis ipsam vitae, et quia, accusantium magnam consequuntur similique amet blanditiis molestiae incidunt ipsum! Aliquam a incidunt aut, fugiat culpa iusto officia dicta. Rerum porro, ratione dolores quod possimus sed deserunt iusto, fuga similique laudantium dolorum autem inventore obcaecati saepe repellat asperiores amet ut, unde dolorem magni! Repellendus ipsa vero est aliquid ex fuga qui. Sequi nam mollitia, vitae deserunt, illum saepe voluptatem nemo eveniet provident, accusantium deleniti odit aliquam ea unde ad inventore aliquid explicabo asperiores suscipit laborum. Suscipit aut consequuntur hic, quo aliquam ipsa eligendi recusandae ut cum quis esse eum!
    </p>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-details">
                <div class="logo">
                    <img src="images/nav/logo 1.png" alt="">
                    <h3>
                        Edo State <br> University Uzairue
                    </h3>
                </div>
                <p>
                    Edo State University, Uzuaire, lorem ipsum dolor sit met, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                </p>
                <div class="icons">
                    <a class="box" href="">
                        <i class="fa-brands fa-facebook-f fa-2x"></i>
                    </a>
                    <a class="box" href="">
                        <i class="fa-brands fa-youtube fa-2x"></i>
                    </a>
                    <a class="box" href="">
                        <i class="fa-brands fa-twitter fa-2x"></i>
                    </a>
                    <a class="box" href="">
                        <i class="fa-brands fa-linkedin fa-2x"></i>
                    </a>
                    <a class="box" href="">
                        <i class="fa-brands fa-instagram fa-2x"></i>
                    </a>
                </div>
            </div>

            <div class="list-links">
                <h3>
                    EDSU
                </h3>
                <a href="">
                    Why EDSU
                </a>
                <a href="">
                    Programs
                </a>
                <a href="">
                    Scholarship
                </a>
                <a href="">
                    Security
                </a>
                <a href="">
                    Tuition and Fees
                </a>
            </div>

            <div class="list-links">
                <h3>
                    Resources
                </h3>
                <a href="">
                    Download
                </a>
                <a href="">
                    Help Center
                </a>
                <a href="">
                    Events
                </a>
                <a href="">
                    Guides
                </a>
                <a href="">
                    Partner
                </a>
                <a href="">
                    Directories
                </a>
            </div>

            <div class="list-links">
                <h3>
                    Community
                </h3>
                <a href="">
                    About us
                </a>
                <a href="">
                    Contact us
                </a>
                <a href="">
                    Academics
                </a>
                <a href="">
                    Register
                </a>
                <a href="">
                    LMS
                </a>
                <a href="">
                    FAQ
                </a>
            </div>

            <div class="address">
                <h3>
                    Get in Touch with Us
                </h3>
                <div class="icon-box">
                    <div class="icon"></div>
                    <p class="details poppins">
                        Km7, Auchi-Abuja Road, Iyamho-Uzairue Edo State, Nigeria
                    </p>
                </div>
                <div class="icon-box">
                    <div class="icon"></div>
                    <p class="details poppins">
                        08064888518,08065528915, 09025412171, 07012641913
                    </p>
                </div>
                <div class="icon-box">
                    <div class="icon"></div>
                    <p class="details poppins">
                        registra@edouniversity.edu.ng
                    </p>
                </div>
            </div>
        </div>
        <p class="copyright">
            Edo State University Uzairue - &copy; 2021 All Rights Reserved.
        </p>
    </footer>


    <!-- FONT AWESOME -->
    <script src="https://kit.fontawesome.com/4b654629d7.js" crossorigin="anonymous"></script>
</body>
</html>