<partial name="_Nav" />

<section class="news">

    <div class="heading">
        <h1>News</h1>
    </div>

    <div class="news-details">

        <div class="featured">

            <img src="~/portal/images/news/news-image.png" alt="students of the university">
            <div class="profile">
                <div class="profile-name">
                    <img src="~/portal/images/news/profile-image.png" alt="a profile picture">
                    <p>Otti Daniel</p>
                </div>
                <p class="profile-description">Traditional lives on with graduates, friends and family in mind</p>
                <p class="profile-text">Congratulations to all the graduands...</p>
                <div class="estimate">
                    <p>Nov 5</p>
                    <div class="round"></div>
                    <p>24 min read</p>
                    <div class="round"></div>
                    <span class="desc">Greetings</span>
                </div>

                <button>Read More</button>
            </div>

        </div>

    </div>

</section>

<section class="latest-news">

    <div class="latest-news-heading">
        <h1>Latest News</h1>
    </div>

    <div class="latest-news-card">
        <div class="latest-news-card-body">
            <img src="~/portal/images/news/group-picture.png" alt="">
            <h1>UNIVERSITY</h1>
            <p class="text-heading">EDO UNIVERSITY IYAMHO BAGS AREWA</p>
            <p class="text-details">
                Edo State University Uzuaire has
                bagged A Most Innovative Top Best Valuable
                University in Nigeria, 2017, award.
                The award was given to the University by the
                "Northern Achievers International Magazine"
                in Kaduna.
            </p>
        </div>
        <div class="latest-news-card-body">
            <img src="~/portal/images/news/group-picture.png" alt="">
            <h1>UNIVERSITY</h1>
            <p class="text-heading">EDO UNIVERSITY IYAMHO BAGS AREWA</p>
            <p class="text-details">
                Edo State University Uzuaire has
                bagged A Most Innovative Top Best Valuable
                University in Nigeria, 2017, award.
                The award was given to the University by the
                "Northern Achievers International Magazine"
                in Kaduna.
            </p>
        </div>
        <div class="latest-news-card-body">
            <img src="~/portal/images/news/group-picture.png" alt="">
            <h1>UNIVERSITY</h1>
            <p class="text-heading">EDO UNIVERSITY IYAMHO BAGS AREWA</p>
            <p class="text-details">
                Edo State University Uzuaire has
                bagged A Most Innovative Top Best Valuable
                University in Nigeria, 2017, award.
                The award was given to the University by the
                "Northern Achievers International Magazine"
                in Kaduna.
            </p>
        </div>
        <div class="latest-news-card-body">
            <img src="~/portal/images/news/group-picture.png" alt="">
            <h1>UNIVERSITY</h1>
            <p class="text-heading">EDO UNIVERSITY IYAMHO BAGS AREWA</p>
            <p class="text-details">
                Edo State University Uzuaire has
                bagged A Most Innovative Top Best Valuable
                University in Nigeria, 2017, award.
                The award was given to the University by the
                "Northern Achievers International Magazine"
                in Kaduna.
            </p>
        </div>
        <div class="latest-news-card-body">
            <img src="~/portal/images/news/group-picture.png" alt="">
            <h1>UNIVERSITY</h1>
            <p class="text-heading">EDO UNIVERSITY IYAMHO BAGS AREWA</p>
            <p class="text-details">
                Edo State University Uzuaire has
                bagged A Most Innovative Top Best Valuable
                University in Nigeria, 2017, award.
                The award was given to the University by the
                "Northern Achievers International Magazine"
                in Kaduna.
            </p>
        </div>
        <div class="latest-news-card-body">
            <img src="~/portal/images/news/group-picture.png" alt="">
            <h1>UNIVERSITY</h1>
            <p class="text-heading">EDO UNIVERSITY IYAMHO BAGS AREWA</p>
            <p class="text-details">
                Edo State University Uzuaire has
                bagged A Most Innovative Top Best Valuable
                University in Nigeria, 2017, award.
                The award was given to the University by the
                "Northern Achievers International Magazine"
                in Kaduna.
            </p>
        </div>
    </div>

</section>

<app-newsletter></app-newsletter>
<partial name="_Footer"/>