@model IEnumerable<EDSU_SYSTEM.Models.LatestNews>
<partial name="_Nav" />
<style>
    #text-content{
        max-height: 3em;
        overflow: hidden;
    }

        #text-content.expanded {
            max-height: none;
            overflow: visible;
        }
</style>
<section class="news">

    <div class="heading">
        <h1>News</h1>
    </div>

    <div class="news-details">

        <div class="featured">

            <img src="~/portal/images/news/news-image.png" alt="students of the university">
            <div class="profile">
                <div class="profile-name">
                    <img src="~/portal/images/news/profile-image.png" alt="a profile picture">
                    <p>Joshua Kimmich</p>
                </div>
                <p class="profile-description">SRC PRESIDENT</p>
                <p class="profile-text" id="text-content" style="">
                    Edo State University Uzuaire has
                    bagged A Most Innovative Top Best Valuable
                    University in Nigeria, 2017, award.
                    The award was given to the University by the
                    "Northern Achievers International Magazine"
                    in Kaduna.
                </p>
                <button id="read-more-btn">Read more</button>
            </div>

        </div>

    </div>

</section>

<section class="latest-news">

    <div class="latest-news-heading">
        <h1>Latest News</h1>
    </div>

    <div class="latest-news-card">
        @foreach (var item in Model.Where(x => x.isActive == true))
        {
            <div class="latest-news-card-body">
                <img src="~/portal/images/news/group-picture.png" alt="">
                <p class="text-heading">@item.Title.ToUpper()</p>
                <p class="text-details">
                    @item.Body
                </p>
            </div>
        }
    </div>

</section>

<app-newsletter></app-newsletter>
<partial name="_Footer"/>
<script>
    var content = document.getElementById('text-content');
    var button = document.getElementById('read-more-btn');
    var buttonText = button.innerHTML;

    button.addEventListener('click', function () {
        if (content.classList.contains('expanded')) {
            content.classList.remove('expanded');
            button.innerHTML = buttonText;
        } else {
            content.classList.add('expanded');
            button.innerHTML = 'Read less';
        }
    });
</script>

