<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latest News</title>
    <link rel="stylesheet" href="./css/news_detail.css">
    <link rel="stylesheet" href="./css/newsletter.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico"/>
    <link href="assets/css/loader.css" rel="stylesheet" type="text/css" />
    <script src="assets/js/loader.js"></script>



    <!-- Font Links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">


    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
    <!-- <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/structure.css" rel="stylesheet" type="text/css" class="structure" /> -->
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link href="plugins/apex/apexcharts.css" rel="stylesheet" type="text/css">
    <link href="assets/css/dashboard/dash_1.css" rel="stylesheet" type="text/css" class="dashboard-analytics" />
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->
</head>
<body>

    <app-navigaton></app-navigaton>

    <section class="full-section">
        <div class="large-image">
            <img src="./images/news/group-picture.png" alt="the university officials">
        </div>
    
        <div class="background">
            <div class="heading">
                <h1>EDO STATE UNIVERSITY, UZAIRUE BAGS AREWA MEDIA PUBLICATIONS AWARDS</h1>
            </div>
    
            <div class="profile-information">
    
                <div class="profile-name">
                    <img src="./images/news/profile-image.png" alt="a profile picture">
                    <div class="profile-text">
                        <p>Otti Daniel</p>
                        <span>24min read</span>
                    </div>
                </div>
    
                <div class="round"></div>
    
                <p>November 21st, 2020</p>
    
            </div>
    
            <div class="article-text">
                <article>
                    <h1>Lorem</h1>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente qui corrupti omnis rem corporis inventore beatae aliquid deleniti tempore eos praesentium eligendi quas, amet illum est tempora similique illo. Minus.
                    </p>
                </article>
                <article>
                    <h1>Lorem</h1>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente qui corrupti omnis rem corporis inventore beatae aliquid deleniti tempore eos praesentium eligendi quas, amet illum est tempora similique illo. Minus.
                    </p>
                </article>
                <article>
                    <h1>Lorem</h1>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente qui corrupti omnis rem corporis inventore beatae aliquid deleniti tempore eos praesentium eligendi quas, amet illum est tempora similique illo. Minus.
                    </p>
                </article>
            </div>
        </div>

        <div class="related-news-heading">
            <h1>Related Articles</h1>
        </div>

        <div class="related-news-card">
            <div class="related-news-card-body">
                <img src="./images/news/group-picture.png" alt="">
                <h1>UNIVERSITY</h1>
                <p class="text-heading">EDO UNIVERSITY IYAMHO BAGS AREWA</p>
                <p class="text-details">
                    Edo State University Uzuaire has 
                    bagged A Most Innovative Top Best Valuable 
                    University in Nigeria, 2017, award. 
                    The award was given to the University by the 
                    "Northern Achievers International Magazine"
                    in Kaduna.
                </p>
            </div>
            <div class="related-news-card-body">
                <img src="./images/news/group-picture.png" alt="">
                <h1>UNIVERSITY</h1>
                <p class="text-heading">EDO UNIVERSITY IYAMHO BAGS AREWA</p>
                <p class="text-details">
                    Edo State University Uzuaire has 
                    bagged A Most Innovative Top Best Valuable 
                    University in Nigeria, 2017, award. 
                    The award was given to the University by the 
                    "Northern Achievers International Magazine"
                    in Kaduna.
                </p>
            </div>
            <div class="related-news-card-body">
                <img src="./images/news/group-picture.png" alt="">
                <h1>UNIVERSITY</h1>
                <p class="text-heading">EDO UNIVERSITY IYAMHO BAGS AREWA</p>
                <p class="text-details">
                    Edo State University Uzuaire has 
                    bagged A Most Innovative Top Best Valuable 
                    University in Nigeria, 2017, award. 
                    The award was given to the University by the 
                    "Northern Achievers International Magazine"
                    in Kaduna.
                </p>
            </div>
        </div>

    </section>


    <app-newsletter></app-newsletter>
    <app-footer></app-footer>


    <script src="./js/Components.js"></script>
    <script src="js/Footer-component.js"></script>
    <script src="js/Nav-component.js"></script>

    <!-- FONT AWESOME -->
    <script src="https://kit.fontawesome.com/4b654629d7.js" crossorigin="anonymous"></script>
    
    <!-- Do not touch. Just code. Do no come into this section. I do not know what it does but it is neccessary -->
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="bootstrap/js/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
    <script src="assets/js/custom.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="plugins/apex/apexcharts.min.js"></script>
    <script src="assets/js/dashboard/dash_1.js"></script>
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>
</html>