<div class="nav">
    <app-navigaton class="col-md-11"></app-navigaton>
    <partial name="_LoginPartial" class="col-md-1" />
</div>

<section class="news">

    <div class="heading">
        <h1>EDSU Partners</h1>
    </div>

</section>

<section class="latest-news">
    <div class="d-flex">
       
    </div>
</section>

<app-newsletter></app-newsletter>
<partial name="_Footer"/>