/* How to use the font

h1{
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}

*/
.pushdown {
    margin: 200px 0;
}

* {
    margin: 0;
    padding: 0;
}
.nav {
    border-bottom: 2px solid #64DD17;
}
/* .link-mobile{
    display: none;
} */
@media screen and (min-width:1024px) {
    .nav-mobile {
        display: none;
    }

    .link-mobile {
        display: none;
    }
   
    .nav-desktop {
        max-width: 95%;
        min-width: 85%;
        margin: auto;
        /*border-bottom: 2px solid #64DD17;*/
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px 0;
    }

        .nav-desktop a {
            text-decoration: none;
            color: transparent;
        }

    .logo {
        display: flex;
        gap: 15px;
    }

        .logo img {
            width: 74px;
            height: 73px;
        }

        .logo h3 {
            font-family: 'Oswald', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 33px;
            color: #261F1F;
        }

    .nav-desktop ul {
        margin: 0;
    }

        .nav-desktop ul li {
            display: inline-block;
            margin: 0 0px;
            font-family: 'Poppins', sans-serif;
            font-size: 15px;
            font-weight: 500;
            align-items: center;
        }

            .nav-desktop ul li a {
                text-decoration: none;
                color: #261F1F;
            }

                .nav-desktop ul li a:hover {
                    color: #203b93;
                }

                .nav-desktop ul li a:active {
                    color: #203B93;
                }

    .active {
        color: #203b93;
    }

    .dropdown-content, .dropdown-content1, .dropdown-content2, .dropdown-content3 {
        display: none;
        position: absolute;
    }

    .undergraduate:hover .dropdown-content1 {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        left: 100%;
        top: 0;
        background-color: #E8E8FF;
        width: 200px;
    }

    .conversion:hover .dropdown-content2 {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        left: 100%;
        top: 0;
        background-color: #E8E8FF;
        width: 170px;
    }

    .post-graduate:hover .dropdown-content3 {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        left: 100%;
        top: 0;
        width: 170px;
        background-color: #E8E8FF;
    }

    .main-contents {
        position: relative;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid #64DD17;
    }
    /* .dropdown-content{x: ;} */
    #show:hover .dropdown-content {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 10px 0;
        background-color: #E8E8FF;
        z-index: 1;
    }

    #show {
        color: #06040A;
    }



    .button {
        border: none;
        outline: none;
        background-color: transparent;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 600;
        /* line-height: 27px; */
        color: #ffffff;
        filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.1));
    }

        .button a {
            color: #ffffff;
            text-decoration: none;
            padding: 15px 30px;
            border-radius: 14px;
        }

    .green {
        background-color: #64DD17;
    }

        .green:hover {
            background-color: transparent;
            border: 1px solid #64DD17;
            color: #64DD17;
        }

    .blue {
        background-color: #203b93;
    }

        .blue:hover {
            background-color: transparent;
            border: 1px solid #203b93;
            color: #203b93;
        }

    .footer {
        width: 100%;
        margin: auto;
        margin-top: 100px;
        padding: 15px 30px;
        background-color: #ffffff;
    }

        .footer .footer-container {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgba(84, 78, 93, 0.603);
        }

    .footer-details {
        width: 30%;
    }

        .footer-details p {
            font-family: 'Poppins', sans-serif;
            font-size: small;
            font-weight: 500;
            width: 80%;
            margin: 15px 0;
            color: 06040A;
        }

    .list-links a {
        display: block;
        text-decoration: none;
        color: #544E5D;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: small;
        line-height: 24px;
        margin: 15px 0;
    }

        .list-links a:hover {
            color: #203B93;
        }

    .list-links h3 {
        font-family: 'Oswald', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 29px;
        color: #06040A;
    }

    .copyright {
        color: #544E5D;
        font-family: 'Poppins', sans-serif;
        line-height: 29px;
        font-weight: 500;
        /* font-size: 20px; */
    }

    .icon-box {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .icon {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #203B93;
        display: flex;
        justify-content: center;
        align-items: center
    }

        .icon i {
            color: #ffffff;
        }

    .icon-box p {
        color: #544E5D;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        /* font-size: 20px; */
        font-size: small;
        line-height: 24px;
        width: 90%;
        margin: 15px 0;
    }

    .address {
        width: 25%;
    }

        .address h3 {
            font-family: 'Oswald', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 29px;
            color: #06040A;
        }

    .footer-details .icons {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }

        .footer-details .icons .box {
            height: 58px;
            width: 58px;
            /* background-color: #06040A; */
            background: transparent;
            border-radius: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #544E5D;
        }

            .footer-details .icons .box:hover {
                background: #E8E8FF;
                color: #203B93;
            }
}

@media screen and (max-width:1023px) and (min-width:760px) {
    .nav-mobile {
        display: none;
    }

    .link-mobile {
        display: none;
    }
    .loginBtn{
        margin-left: 10px
    }
    .nav-desktop {
        max-width: 95%;
        min-width: 85%;
        margin: auto;
        /*border-bottom: 2px solid #64DD17;*/
        display: flex;
        justify-content: space-between;
        /* gap: 5px; */
        align-items: center;
        padding: 10px 0;
    }

        .nav-desktop a {
            text-decoration: none;
            color: transparent;
        }

    .logo {
        display: flex;
        /* gap: 15px; */
    }

        .logo img {
            width: 74px;
            height: 73px;
        }

        .logo h3 {
            font-family: 'Oswald', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 33px;
            color: #261F1F;
        }

    .nav-desktop ul {
        margin: 0;
    }

        .nav-desktop ul li {
            display: inline-block;
            margin: 0 5px;
            font-family: 'Poppins', sans-serif;
            font-size: 13px;
            font-weight: 500;
            align-items: center;
        }

            .nav-desktop ul li a {
                text-decoration: none;
                color: #261F1F;
            }

                .nav-desktop ul li a:hover {
                    color: #203b93;
                }

                .nav-desktop ul li a:active {
                    color: #203B93;
                }

    .active {
        color: #203b93;
    }

    .dropdown-content, .dropdown-content1, .dropdown-content2, .dropdown-content3 {
        display: none;
        position: absolute;
    }

    .undergraduate:hover .dropdown-content1 {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        left: 100%;
        top: 0;
        background-color: #E8E8FF;
        width: 200px;
    }

    .conversion:hover .dropdown-content2 {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        left: 100%;
        top: 0;
        background-color: #E8E8FF;
        width: 170px;
    }

    .post-graduate:hover .dropdown-content3 {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        left: 100%;
        top: 0;
        width: 170px;
        background-color: #E8E8FF;
    }

    .main-contents {
        position: relative;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid #64DD17;
    }
    /* .dropdown-content{x: ;} */
    #show:hover .dropdown-content {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 10px 0;
        background-color: #E8E8FF;
        z-index: 1;
    }

    #show {
        color: #06040A;
    }



    .button {
        border: none;
        outline: none;
        background-color: transparent;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight: 600;
        /* line-height: 27px; */
        color: #ffffff;
        filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.1));
    }

        .button a {
            color: #ffffff;
            text-decoration: none;
            padding: 10px 15px;
            border-radius: 14px;
        }

    .green {
        background-color: #64DD17;
    }

        .green:hover {
            background-color: transparent;
            border: 1px solid #64DD17;
            color: #64DD17;
        }

    .blue {
        background-color: #203b93;
    }

        .blue:hover {
            background-color: transparent;
            border: 1px solid #203b93;
            color: #203b93;
        }

    .footer {
        width: 100%;
        margin: auto;
        margin-top: 100px;
        padding: 15px 30px;
        background-color: #ffffff;
    }

        .footer .footer-container {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgba(84, 78, 93, 0.603);
        }

    .footer-details {
        width: 30%;
    }

        .footer-details p {
            font-family: 'Poppins', sans-serif;
            font-size: small;
            font-weight: 500;
            width: 80%;
            margin: 15px 0;
            color: 06040A;
        }

    .list-links a {
        display: block;
        text-decoration: none;
        color: #544E5D;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: small;
        line-height: 24px;
        margin: 15px 0;
    }

        .list-links a:hover {
            color: #203B93;
        }

    .list-links h3 {
        font-family: 'Oswald', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 29px;
        color: #06040A;
    }

    .copyright {
        color: #544E5D;
        font-family: 'Poppins', sans-serif;
        line-height: 29px;
        font-weight: 500;
        /* font-size: 20px; */
    }

    .icon-box {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .icon {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #203B93;
        display: flex;
        justify-content: center;
        align-items: center
    }

        .icon i {
            color: #ffffff;
        }

    .icon-box p {
        color: #544E5D;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        /* font-size: 20px; */
        font-size: small;
        line-height: 24px;
        width: 90%;
        margin: 15px 0;
    }

    .address {
        width: 25%;
    }

        .address h3 {
            font-family: 'Oswald', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 29px;
            color: #06040A;
        }

    .footer-details .icons {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }

        .footer-details .icons .box {
            height: 58px;
            width: 58px;
            /* background-color: #06040A; */
            background: transparent;
            border-radius: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #544E5D;
        }

            .footer-details .icons .box:hover {
                background: #E8E8FF;
                color: #203B93;
            }
}

@media screen and (max-width:759px) and (min-width:481px) {
    .login{
        margin-left:30px;
    }
    .nav-desktop {
        display: none;
    }

    .nav-mobile {
        width: 95%;
        margin: auto;
        /*border-bottom: 2px solid #64DD17;*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        padding: 10px 0;
        /* flex-wrap: wrap; */
    }

        .nav-mobile .first-nav {
            display: flex;
            justify-content: space-between;
            margin-bottom: 13px;
        }

        .nav-mobile a {
            text-decoration: none;
            color: transparent;
        }

    .first-nav .logo {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }

        .first-nav .logo img {
            width: 54px;
            height: 53px;
        }

        .first-nav.logo h3 {
            font-family: 'Oswald', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 23px;
            color: #261F1F;
            /* margin-left: 5px; */
        }

    .nav-mobile ul {
        margin: 0;
        /*display: flex;*/
        margin: auto;
        /*justify-content: space-between;*/
        min-width: 80%;
    }

        .nav-mobile ul li {
            /*display: block;*/
            margin: 0 3px;
            font-family: 'Poppins', sans-serif;
            font-size: 11px;
            font-weight: 500;
            align-items: center;
            /*border: 1px solid;*/
        }

            .nav-mobile ul li a {
                text-decoration: none;
                color: #261F1F;
            }

                .nav-mobile ul li a:hover {
                    color: #203b93;
                }

                .nav-mobile ul li a:active {
                    color: #203B93;
                }

    .active {
        color: #203b93;
    }

    .button {
        border: none;
        outline: none;
        background-color: transparent;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
        filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.1));
    }

        .button a {
            color: #ffffff;
            text-decoration: none;
            padding: 10px 30px;
            border-radius: 14px;
        }

    .green {
        background-color: #64DD17;
    }

        .green:hover {
            background-color: transparent;
            border: 1px solid #64DD17;
            color: #64DD17;
        }

    .blue {
        background-color: #203b93;
    }

        .blue:hover {
            background-color: transparent;
            border: 1px solid #203b93;
            color: #203b93;
        }


    .footer {
        width: 100%;
        margin: auto;
        margin-top: 100px;
        padding: 15px 30px;
        background-color: #ffffff;
        overflow: hidden;
    }

        .footer .footer-container {
            /* display: flex; */
            /* justify-content: space-between; */
            border-bottom: 1px solid rgba(84, 78, 93, 0.603);
        }

    .footer-details {
        width: 100%;
    }

        .footer-details .logo {
            display: flex;
            gap: 15px;
        }

            .footer-details .logo img {
                width: 74px;
                height: 73px;
            }

            .footer-details .logo h3 {
                font-family: 'Oswald', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                line-height: 33px;
                color: #261F1F;
            }

        .footer-details p {
            font-family: 'Poppins', sans-serif;
            font-size: large;
            font-weight: 500;
            width: 100%;
            margin: 15px 0;
            color: 06040A;
        }

    .list-links {
        display: none;
        /* margin: 0 5px 0 0; */
    }

    .link-mobile {
        display: flex;
        justify-content: space-between;
    }

    .list-link {
        width: 30%;
    }

        .list-link a {
            display: block;
            text-decoration: none;
            color: #544E5D;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: large;
            line-height: 24px;
            margin: 15px 0;
        }

        .list-link h3 {
            font-family: 'Oswald', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 29px;
            color: #06040A;
        }

    .copyright {
        color: #544E5D;
        font-family: 'Poppins', sans-serif;
        line-height: 29px;
        font-weight: 500;
    }

    .icon-box {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .icon {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #203B93;
        display: flex;
        justify-content: center;
        align-items: center
    }

        .icon i {
            color: #ffffff;
        }

    .icon-box p {
        color: #544E5D;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: large;
        line-height: 24px;
        width: 90%;
        margin: 15px 0;
    }

    .address {
        width: 100%;
    }

        .address h3 {
            font-family: 'Oswald', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 29px;
            color: #06040A;
        }

    .footer-details .icons {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }

        .footer-details .icons .box {
            height: 58px;
            width: 58px;
            background: transparent;
            border-radius: 14px;
            display: flex;
            /* justify-content: center; */
            align-items: center;
            text-decoration: none;
            color: #544E5D;
        }

            .footer-details .icons .box:hover {
                background: #E8E8FF;
                color: #203B93;
            }
}

@media screen and (max-width:480px) and (min-width:320px) {
    .login {
        margin-left: 30px;
        
    }
    .nav-desktop {
        display: none;
    }

    .nav-mobile {
        width: 95%;
        margin: auto;
        /*border-bottom: 2px solid #64DD17;*/
        
        /*display: flex;*/
        /*flex-direction: column;*/
        justify-content: center;
        /* align-items: center; */
        padding: 10px 0;
        /* flex-wrap: wrap; */
    }

        .nav-mobile .first-nav {
            display: flex;
            justify-content: space-between;
            margin-bottom: 13px;
        }

        .nav-mobile a {
            text-decoration: none;
            color: transparent;
        }

    .logo {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }

        .logo img {
            width: 54px;
            height: 53px;
        }

        .logo h3 {
            font-family: 'Oswald', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 23px;
            color: #261F1F;
            /* margin-left: 5px; */
        }

    .nav-mobile ul {
        margin: 0;
        
    }

        .nav-mobile ul li {
            /*display: inline-block;*/
            margin: 0 3px;
            font-family: 'Poppins', sans-serif;
            font-size: 11px;
            font-weight: 500;
            align-items: center;
            list-style:none; 
            
            /*border: 1px solid;*/
        }

            .nav-mobile ul li a {
                text-decoration: none;
                color: #261F1F;
            }

                .nav-mobile ul li a:hover {
                    color: #203b93;
                }

                .nav-mobile ul li a:active {
                    color: #203B93;
                }

    .active {
        color: #203b93;
    }

    .button {
        border: none;
        outline: none;
        background-color: transparent;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
        filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.1));
    }

        .button a {
            color: #ffffff;
            text-decoration: none;
            padding: 7px 15px;
            border-radius: 14px;
        }

    .green {
        background-color: #64DD17;
    }

        .green:hover {
            background-color: transparent;
            border: 1px solid #64DD17;
            color: #64DD17;
        }

    .blue {
        background-color: #203b93;
    }

        .blue:hover {
            background-color: transparent;
            border: 1px solid #203b93;
            color: #203b93;
        }


    .footer {
        width: 100%;
        margin: auto;
        margin-top: 100px;
        padding: 15px 30px;
        background-color: #ffffff;
        overflow: hidden;
    }

        .footer .footer-container {
            /* display: flex; */
            justify-content: space-between;
            border-bottom: 1px solid rgba(84, 78, 93, 0.603);
        }

    .footer-details {
        width: 100%;
    }

        .footer-details .logo {
            display: flex;
            gap: 15px;
        }

            .footer-details .logo img {
                width: 74px;
                height: 73px;
            }

            .footer-details .logo h3 {
                font-family: 'Oswald', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 33px;
                color: #261F1F;
            }

        .footer-details p {
            font-family: 'Poppins', sans-serif;
            font-size: small;
            font-weight: 500;
            width: 100%;
            margin: 15px 0;
            color: 06040A;
        }

    .list-links {
        display: none;
        /* margin: 0 5px 0 0; */
    }

    .link-mobile {
        display: flex;
        justify-content: space-between;
    }

    .list-link a {
        display: block;
        text-decoration: none;
        color: #544E5D;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: small;
        line-height: 24px;
        margin: 15px 0;
    }

    .list-link h3 {
        font-family: 'Oswald', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 29px;
        color: #06040A;
    }

    .copyright {
        color: #544E5D;
        font-family: 'Poppins', sans-serif;
        line-height: 29px;
        font-weight: 500;
    }

    .icon-box {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .icon {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #203B93;
        display: flex;
        justify-content: center;
        align-items: center
    }

        .icon i {
            color: #ffffff;
        }

    .icon-box p {
        color: #544E5D;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: small;
        line-height: 24px;
        width: 90%;
        margin: 15px 0;
    }

    .address {
        width: 100%;
    }

        .address h3 {
            font-family: 'Oswald', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 29px;
            color: #06040A;
        }

    .footer-details .icons {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }

        .footer-details .icons .box {
            height: 58px;
            width: 58px;
            background: transparent;
            border-radius: 14px;
            display: flex;
            /* justify-content: center; */
            align-items: center;
            text-decoration: none;
            color: #544E5D;
        }

            .footer-details .icons .box:hover {
                background: #E8E8FF;
                color: #203B93;
            }
}
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.hamburger-line {
    width: 100%;
    height: 3px;
    background-color: #000;
    margin: 3px 0;
}

.mobile-menu {
    display: none;
}

    .mobile-menu.active {
        display: block;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        padding: 10px;
        z-index: 20;
    }