@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
<div class="main-container" id="container">
    <div id="content" class="main-content">
        <div class="layout-px-spacing">

            <div class="row layout-top-spacing">

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mx-auto layout-spacing">
                    <div class="">
                        <div class="row">
                            <div class="col-md-6 col-xl-6 col-lg-6 col-12 col-sm-12 mx-auto">
                                <img src="~/images/NoData.svg" style="height:400; width:400px" />
                                <div class="alert alert-light-danger border-0 mb-4 text-center" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><svg> ... </svg></button>
                                    <strong>Error!</strong> There is no data in the request.
                                </div>
                                <h6 class="text-center">Contact the ICT Team for support</h6>
                                <div class="text-center">
                                    @{
                                        var user = UserManager.GetUserAsync(ViewContext.HttpContext.User).Result;
                                    }
                                    @if (user != null && user.Type == 1)
                                    {
                                        <a class="text-primary text-center" asp-action="index" asp-controller="students">click here to go back</a>
                                    }@if (user != null && user.Type == 2)
                                    {
                                        <a class="" asp-action="index" asp-controller="staffs">Home</a>
                                    }@if (user != null && user.Type == 3)
                                    {
                                        <a class="text-primary text-center" asp-action="index" asp-controller="pgstudents">Home</a>
                                    }@if (user != null && user.Type == 4)
                                    {
                                        <a class="text-primary text-center" asp-action="index" asp-controller="conversionstudents">Home</a>
                                    }@if (user != null && user.Type == 5)
                                    {
                                        <a class="text-primary text-center" asp-action="index" asp-controller="parents">Home</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>