@model EDSU_SYSTEM.Models.Mail
@{
    ViewData["Title"] = "Edit";
}

<div class="main-container" id="container">
    <partial name="_StaffDashboardPartial" />
    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <div class="layout-px-spacing">
            <div class="row layout-spacing">

                <!-- Content -->
                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-12 mx-auto layout-top-spacing">
                    <div class="widget-content widget-content-area br-6 row">
                        <div class="border-right col-2">
                            <div class="col-md-12 col-sm-12 col-12 text-center mail-btn-container">
                                <a class="btn btn-dark my-4" data-toggle="ajax-modal" data-target="#addCourseware" data-url="@Url.Action("Create")">
                                    <i data-feather="plus"></i>
                                </a>
                                <div class="mail-sidebar-scroll">
                                    <ul class="nav nav-pills d-block" id="pills-tab" role="tablist">
                                        <li class="pb-2 pt-1 border-bottom border-top text-center">
                                            <a asp-action="index" class="list-actions text-primary"  id="mailInbox">
                                                <i data-feather="inbox"></i><br /><span class="icon-name"> Inbox</span>
                                            </a>
                                        </li>
                                        <li class="py-2 border-bottom text-center">
                                            <a asp-action="important" class="list-actions text-dark" id="important">
                                                <i data-feather="star"></i><br /><span class="icon-name">Important</span>
                                            </a>
                                        </li>
                                        <li class="py-2 border-bottom text-center">
                                            <a asp-action="draft" class="nav-link list-actions text-dark" id="draft">
                                                <i data-feather="mail"></i><br /><span class="icon-name"> Draft</span>
                                            </a>
                                        </li>
                                        <li class="py-2 border-bottom text-center">
                                            <a asp-action="sent" class="nav-link list-actions text-dark" id="sentmail">
                                                <i data-feather="send"></i><br /><span class="icon-name"> Sent Mail</span>
                                            </a>
                                        </li>
                                        <li class="py-2 border-bottom text-center">
                                            <a asp-action="spam" class="nav-link list-actions text-dark" id="spam">
                                                <i data-feather="alert-octagon"></i><br /><span class="icon-name"> Spam</span>
                                            </a>
                                        </li>
                                        <li class="py-2 text-center">
                                            <a asp-action="trash" class="nav-link list-actions text-dark" id="trashed">
                                                <i data-feather="trash"></i><br /><span class="icon-name"> Trash</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class=" col-10">
                            <form asp-action="Create" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label asp-for="From" class="control-label">From:</label>
                                        <input asp-for="From" disabled value="@ViewBag.email" class="form-control basic" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="To" class="control-label">To:</label>
                                        <input asp-for="To" class="form-control" placeholder="john.doe@edouniversity.edu.ng" />
                                       
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label asp-for="Through2" class="control-label">Through (Optional):</label>
                                         <select asp-for="Through2" class="form-control basic">
                                             <option>Select</option>
                                         </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="Through2" class="control-label">Through (Optional):</label>
                                         <select asp-for="Through2" class="form-control basic">
                                             <option>Select</option>
                                             <option>Select</option>
                                         </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="Through2" class="control-label">Through (Optional):</label>
                                    <select asp-for="Through2" class="form-control basic">
                                        <option>Select</option>
                                    </select>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label asp-for="Subject" class="control-label">Subject:</label>
                                        <input asp-for="Subject" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="File" class="control-label">Attach File:</label>
                                        <input asp-for="File" class="form-control" type="file" name="upload"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Message" class="control-label">Message:</label>
                                    <textarea asp-for="Message" class="form-control"></textarea>
                                </div>

                                <div class="form-group">
                                    <input type="submit" value="Send" class="btn btn-primary" />
                                    <input type="submit" value="Save" class="btn btn-warning" />
                                    <input type="submit" value="Discard" class="btn btn-danger" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  END CONTENT AREA  -->
</div>
<!-- END MAIN CONTAINER -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
