@model EDSU_SYSTEM.Models.ConversionApplicant


<partial name="_Nav" />
<div class="row">
    <div class="col-md-8 col-xl-8 col-lg-8 col-sm-8 col-8 mt-5 mx-auto">
        <div class="widget-content widget-content-area p-3">
            <h4 class="text-center">EDO STATE UNIVERSITY UZAIRUE<br/>EDO STATE, NIGERIA</h4>
            <span>
                Edo State University Uzairue (EDSU) Admission for the 2022/2023 Academic Session is ongoing.

                GENERAL ADMISSION REQUIREMENTS
            </span>
            <div>
                <h4>(i) UTME</h4>
                <P>Admission is open to candidates who wrote the 2022 Unified Tertiary Matriculation Examination (UTME). </P>
                <span>
                    1. <p>(a) Applicants are to complete the online Application Form by visiting Edo State University, Uzairue website at: www.edouniversity.edu.ng</p>
                </span>
                <span>
                    2. <p>(b) All applicants are required to meet the Departmental minimum entry requirement of 
                        five (5) credit passes in relevant subjects including English Language and Mathematics 
                        at GCE O' Level/SSCE, NECO, NABTEB or their equivalents at not more than two sittings. However, for Medicine and Surgery 
                        (MB;BS), the five credits (including Mathematics and English) must be obtained at one sitting only.</p>
                </span>
                <span>
                    3. <p>(c) Candidates awaiting results in (b) above may also apply.</p>
                </span>
                <span>
                    4. <p>(d) All applicants will be required to go through Edo State University
                        Uzairue (Formerly Edo University Iyamho) Screening Exercise.</p>
                </span>
                <span>
                    5. <p>(e) Candidates who wrote the 2022 UTME but did not choose Edo State University Uzairue as First Choice can apply by changing 
                        their choice of University/Course of Study to Edo State University as follows:
                        <ul>
                            <li>Apply for Change of Institution through JAMB</li>
                            <li>Complete the Edo State University Uzairue Online Application Form</li>
                        </ul>    
                    </p>
                </span>
            </div>
            <div>
                <h4>(ii) DIRECT ENTRY</h4>
                <P>All Direct Entry candidates are required to purchase and process the 2022 JAMB Direct Entry Form. Edo State University 
                    Uzairue accepts the following for Direct Entry Admission into 200 Level: </P>
               <ul>
                    <li>(a) A minimum of Merit pass in NCE, Credit in OND/HND or a University degree in relevant discipline.</li>
                    <li>(b) Candidates with two Advanced Level passes or its equivalent in relevant subjects.</li>
                    <li>(c) The Interim Joint Matriculation Board (IJMB), Joint Universities Preliminary Examination Board (JUPEB) or Cambridge 
                        moderated School of Basic Studies at acceptable grade levels.</li>
                    <li>(d) In addition to a University degree/NCE/ND/HND/IJMB/JUPEB or two Advanced Level papers specified
                        by each Faculty or Programme, candidates must also satisfy the O' level requirements.</li>
                    <li>(e) Any other qualification as approved by the University Senate.</li>
               </ul>
            </div>
            <div>
                <h4>(iii) TRANSFER CANDIDATES</h4>
                <P>Candidates will be allowed to transfer from other NUC accredited Universities to Edo 
                    State University Uzairue provided they meet the following conditions: </P>
               <ul>
                    <li>(a) Purchase and complete the prescribed Edo State University Inter-University Transfer application Form online.</li>
                    <li>(b) Pass interview/Screening conducted by Edo State University Uzairue.</li>
                    <li>(c) Hold the minimum entry requirements for admission into Edo State University Uzairue.</li>
                    <li>(d) Hold JAMB admission letter to your current University.</li>
                    <li>(e) Ensure that the transcript of their academic records are received in the Admissions Office
                        of Edo State University Uzairue.</li>
                    <li>(f) Have a C.G.P.A. of not less than 1.5</li>
               </ul>
            </div>
            <div>
                <h4>APPLICATION FEE</h4>
                <p>UTME/DE and Transfer Candidates are expected to pay the sum of Two Thousand Naira (N2,000) for Post UTME/ DE Application fee and
                    Sixty Thousand Naira (N60,000) Transfer Application fee respectively.</p>
                <span>
                    <h4>SCREENING OF CANDIDATES</h4>
                    <p>Applicants are to appear for Edo State University Uzairue Screening Exercise at the University premises on Thursday, 8th September 2022.</p>
                </span>
                <span>
                    For Further enquires please visit our website: www.edouniversity.edu.ng or contact: The Admission office, Edo State University, Uzairue, Edo State, Nigeria

                    Email: admissions@edouniversity.edu.ng

                    Phone No: 09025412171; 08064888518; 08065528915
                </span>
            </div>
        </div>
    </div>
</div>
<partial name="_Footer"/>
