
@model EDSU_SYSTEM.Models.Jupeb


<partial name="_Nav" />
<div class="col-md-10 mx-auto">
    <div class="table-responsive">
        <table class="table table-condensed table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="4"><h3><center>UNDERGRADUATE PROGRAMMES AND ADMISSION REQUIREMENTS</center></h3></th>
                </tr>
            </thead>
            <tbody class="scroll-area" data-spy="scroll" data-offset="0">
                <tr>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <th colspan="4"><h4 id="bmscience"><center>FACULTY OF BASIC MEDICAL SCIENCES</center></h4></th>
                </tr>
                <tr>
                    <th>PROGRAMMES</th>
                    <th>O'LEVEL</th>
                    <th>DIRECT ENTRY</th>
                    <th>UTME SUBJECTS</th>
                </tr>
                <tr>
                    <td>B.Sc. Biochemistry</td>
                    <td>Five Credit passes at SSCE (or its equivalent) in English Language, Mathematics, Biology, Chemistry, Physics at not more than two sittings</td>
                    <td>
                        (i) Two ‘A’ level passes chosen from Chemistry, Physics/Mathematics and Biology/Botany/Zoology in addition to UTME requirements.<br>
                        (ii)NCE/ND/HND with Credit passes in related field plus UTME requirement.<br>
                        (iii) IJMB/JUPEB<br>
                    </td>
                    <td>
                        Biology, Chemistry and Physics.
                    </td>
                </tr>
                <tr>
                    <td>BMLS Medical Laboratory Science</td>
                    <td>Five Credit passes at SSCE (or its equivalent) in English Language, Mathematics, Biology, Chemistry, Physics at not more than two sittings</td>
                    <td>
                        (i) ‘A’ level passes in Physics, Chemistry and Biology or Zoology in addition to UTME requirements.<br>
                        (ii) A University degree in a relevant field.<br>
                        (iii) OND/HND in related courses with Credit pass plus O' level entry requirement.<br>
                        (iv) IJMB/JUPEB

                    </td>
                    <td>
                        Biology, Chemistry and Physics
                    </td>
                </tr>
                <tr>
                    <td>BNSc Nursing</td>
                    <td>Five Credit passes at SSCE (or its equivalent) in English Language, Mathematics, Physics, Chemistry and Biology at not more than two sittings.</td>
                    <td>
                        (i) Two ‘A’ level passes in Biology/Zoology, Chemistry and Physics in addition to UTME requirements.<br>
                        (ii) A University degree in a relevant field.
                        (iii) NRN or its approved equivalent plus five ‘O’ level credit passes in English Language and one Science subjects chosen from Mathematics, Physics, Chemistry, Biology, Human Anatomy, Physiology and Hygiene, Health Science, Further Mathematics and General Science.<br>
                        (iv) IJMB/JUPEB
                    </td>
                    <td>Biology, Chemistry and Physics</td>
                </tr>
                <tr>
                    <td>B.Sc. Anatomy</td>
                    <td>Five Credit passes at SSCE (or its equivalent) in English Language, Mathematics, Biology, Chemistry, Physics at not more than two sittings</td>
                    <td>
                        (i) Two ‘A’ level passes chosen from Physics, Chemistry and Biology or Zoology in addition to UTME requirements.<br>
                        (ii) A University degree in a relevant field.<br>
                        (iii) OND/HND in related courses with Credit pass plus O' level entry requirement.<br>
                        (iv) IJMB/JUPEB
                    </td>
                    <td>Biology, Chemistry and Physics</td>
                </tr>
                <tr>
                    <td>B.Sc. Physiology</td>
                    <td>Five Credit passes at SSCE (or its equivalent) in English Language, Mathematics, Biology, Chemistry, Physics at not more than two sittings</td>
                    <td>
                        (i) Two ‘A’ level passes chosen from Physics, Chemistry and Biology or Zoology in addition to UTME requirements.<br>
                        (ii) A University degree in a relevant field.<br>
                        (iii) OND/HND in related courses with Credit pass plus O' level entry requirement.<br>
                        (iv) IJMB/JUPEB
                    </td>
                    <td>Biology, Chemistry and Physics.</td>
                </tr>

                <tr>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <th colspan="4"><h4 id="cscience"><center>FACULTY OF CLINICAL SCIENCES</center></h4></th>
                </tr>
                <tr>
                    <th>PROGRAMMES</th>
                    <th>O'LEVEL</th>
                    <th>DIRECT ENTRY</th>
                    <th>UTME SUBJECTS</th>
                </tr>
                <tr>
                    <td>MB;BS Medicine and Surgery</td>
                    <td>Five Credit passes at SSCE (or its equivalent) in English Language, Mathematics, Biology, Chemistry and Physics at one sitting only.</td>
                    <td>
                        (i) ‘A’ level passes in Physics, Chemistry and Biology or Zoology in addition to UTME requirements.<br>
                        (ii) A University degree in a relevant field.<br>
                        (iii) IJMB/JUPEB<br>

                    </td>
                    <td>Biology, Chemistry and Physics.</td>
                </tr>


                <tr>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <th colspan="4"><h4 id="arts"><center>FACULTY OF ARTS, MANAGEMENT AND SOCIAL SCIENCES</center></h4></th>
                </tr>
                <tr>
                    <th>PROGRAMMES</th>
                    <th>O'LEVEL</th>
                    <th>DIRECT ENTRY</th>
                    <th>UTME SUBJECTS</th>
                </tr>
                <tr>
                    <td>B.Sc. Accounting</td>
                    <td rowspan="3">Five Credit passes at SSCE (or its equivalent) including English Language, Mathematics, Economics and two other relevant subjects at not more than two sittings</td>
                    <td rowspan="3">
                        (i) Two ‘A’ level passes including Economics in addition to UTME
                        requirements.<br>
                        (ii) NCE with passes at Merit level in relevant subjects.<br>
                        (iii) ND/HND at Credit level in a related discipline<br>
                        (iv) A good pass in JUPEB/IJMB Subjects<br>
                        (v) A University degree in a related discipline.

                    </td>
                    <td rowspan="3">Mathematics, Economics and any other Social Science subject</td>
                </tr>

                <tr>
                    <td>B.Sc. Business Administration</td>
                </tr>

                <tr>
                    <td>B.Sc. Banking and Finance</td>
                </tr>

                <tr>
                    <td>B.Sc. Economics</td>
                    <td>Five Credit passes at SSCE (or its equivalent) including English Language, Mathematics, Economics and two other relevant subjects at not more than two sittings</td>
                    <td>
                        (i) Two ‘A’ level passes in Economics and any one of Mathematics, Statistics, Geography, Physics, Chemistry, Agricultural Science, Accounting, Business Management, History and Government in addition to UTME requirements.<br>
                        (ii) NCE with passes at Merit level in relevant subjects.<br>
                        (iii) ND/HND at credit level in a related discipline<br>
                        (iv) A good pass in JUPEB/IJMB Subjects
                    </td>
                    <td>Economics, Mathematics and any of Government, History, Geography, Lit-in-English, French and CRK/IRK.</td>
                </tr>

                <tr>
                    <td>B.A. English Language</td>
                    <td>Five Credit passes at SSCE (or its equivalent) to include Literature in English, English Language, Mathematics and two other Arts or Social Science subjects at not more than two sittings.</td>
                    <td>
                        (i)Two ‘A’ level passes to include Literature-in-English and one other Arts subject in addition to UTME requirements.<br>
                        (ii) NCE with passes at Merit level in relevant subjects.<br>
                        (iii) ND/HND at Credit level in a related discipline<br>
                        (iv) A good pass in JUPEB/IJMB Subjects: Literature in English and any two of Religious studies, History, Government, Music, Fine Arts and French

                    </td>
                    <td>Literature in English, one other Arts subject and another Arts or Social Science subject.</td>
                </tr>

                <tr>
                    <td>B.Sc. Entrepreneurship</td>
                    <td>Five (5) SSC credit passes to include English Language, Mathematics, Economics, one (1) Science subject and one (1) other Social Science or Commercial subject at not more than two sittings.</td>
                    <td>
                        (i) Two (2) 'A' level passes to include Economics and
                        one (1) of, Accounts, Business Management,
                        Government, Geography or Mathematics<br>
                        (ii) NCE with passes at Merit level in relevant subjects.<br>
                        (iii) ND/HND at Credit level in a related discipline <br>
                        (iv) Very good passes in JUPEB/IJMB Subjects<br>

                    </td>
                    <td>
                        Economics, Mathematics and one (1) other Social Science or Commercial subject.
                    </td>
                </tr>


                <tr>
                    <td>B.A. History and International Studies</td>
                    <td>Five  Credit passes at SSCE (or its equivalent) including English language, Mathematics and History/Government at not more than two sittings.</td>
                    <td>
                        (i) Two `A` level Credit passes in History/Government and any other related subject in addition to UTME requirements.<br>
                        (ii) NCE with passes at Merit level in relevant subjects.<br>
                        (iii) ND/HND at Credit level in a related discipline<br>
                        (iv) A good pass in JUPEB/IJMB Subjects
                    </td>
                    <td>History/ Government and any other two subjects from Arts &amp; Social science</td>
                </tr>

                <tr>
                    <td>B.Sc Mass Communication</td>
                    <td>Five Credit passes at SSCE (or its equivalent) in English language, Mathematics and any other three Social Science subjects at not more than two sittings.</td>
                    <td>
                        (i) Two 'A' level passes in English and any other relevant subjects.<br>
                        (ii) NCE with passes at Merit level in relevant subjects.<br>
                        (iii) ND/HND at Credit level in a related discipline<br>
                        (iv) Very good passes in JUPEB/IJMB Subjects<br>
                        (v) A University degree in a related discipline.
                    </td>
                    <td>Any three Arts and Social Science subjects.</td>
                </tr>

                <tr>
                    <td>B.Sc. Peace Studies and Conflict Resolution</td>
                    <td>Five Credit passes at SSCE (or its equivalent) in English Language, Mathematics, Government or History and any other two Arts or Social Science subjects at not more than two sittings</td>
                    <td>
                        (i) Two `A` level passes including Government or History and one Social Science subject.<br>
                        (ii) ND/HND with Credit passes in relevant field  (iii) NCE with a minimum of Merit in any related Art/Social/Management Science <br>
                        (iv) Very good passes in JUPEB/IJMB Subjects: Government, and any two of Literature in English, Economics, History and Religious studies.<br>
                        (v) B.Sc. in a related discipline with minimum of a Second Class Lower<br>
                    </td>
                    <td>Three (3) Arts or Social Science subjects</td>
                </tr>


                <tr>
                    <td>B.Sc. Political Science and Public Administration</td>
                    <td>Five Credit passes at SSCE (or its equivalent) in English Language, Mathematics, Government or History and any other two Arts or Social Science subjects at not more than two sittings</td>
                    <td>
                        (i) Two `A` level passes including Government or History and one Social Science subject in addition to UTME requirements.<br>
                        (ii) ND/HND with Credit passes in relevant field  (iii) NCE with a minimum of Merit in any related Social/Management Science<br>
                        (iv) A good pass in JUPEB/IJMB Subjects: Government, and any two of Literature in English, Economics, History and Religious studies.<br>
                        (v) A University degree in a related discipline.
                    </td>
                    <td>Government or History plus two other Social Science/Arts subjects.</td>
                </tr>


                <tr>
                    <td>B.Sc. Sociology</td>
                    <td>Five Credit passes at SSCE (or its equivalent) in English Language, Mathematics, Government or History and any other two Arts or Social Science subjects at not more than two sittings</td>
                    <td>
                        (i) Two `A` level passes including Government or History and one Social Science subject in addition to UTME requirements.<br>
                        (ii) ND/HND with Credit passes in relevant field  (iii) NCE with a minimum of Merit in any related Social/Management Science<br>
                        (iv) Very good passes in JUPEB/IJMB Subjects: Government, and any two of Literature in English, Economics, History and Religious studies.<br>
                        (v) A University degree in a related discipline.
                    </td>
                    <td>Three (3) Social Science or Arts subjects.</td>
                </tr>


                <tr>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <th colspan="4"><h4 id="engineering"><center>FACULTY OF ENGINEEERING</center></h4></th>
                </tr>
                <tr>
                    <th>PROGRAMMES</th>
                    <th>O'LEVEL</th>
                    <th>DIRECT ENTRY</th>
                    <th>UTME SUBJECTS</th>
                </tr>
                <tr>
                    <td>B.Eng. Chemical Engineering</td>
                    <td rowspan="5">Five Credit passes at SSCE (or its equivalent) to include Physics, Chemistry, Mathematics and English Language and any other Science subject at not more than two sittings.</td>
                    <td rowspan="5">
                        (i) Two `A’ level passes in Physics, Chemistry and Mathematics in addition to UTME requirements.<br>
                        (ii) OND/HND not below Credit level.<br>
                        (iii) JUPEB/IJMB passes in Physics, Chemistry and Mathematics<br>
                        (iv) BSc. in a relevant field.
                    </td>
                    <td rowspan="5">Mathematics, Physics and Chemistry.</td>
                </tr>
                <tr>
                    <td>B.Eng. Civil Engineering</td>
                </tr>
                <tr>
                    <td>B.Eng. Computer Engineering</td>
                </tr>

                <tr>
                    <td>B.Eng. Electrical/Electronic Engineering</td>
                </tr>

                <tr>
                    <td>B.Eng. Mechanical Engineering</td>
                </tr>



                <tr>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <th colspan="4"><h4 id="law"><center>FACULTY OF LAW</center></h4></th>
                </tr>
                <tr>
                    <th>PROGRAMMES</th>
                    <th>O'LEVEL</th>
                    <th>DIRECT ENTRY</th>
                    <th>UTME SUBJECTS</th>
                </tr>
                <tr>
                    <td>LL.B LAW</td>
                    <td>Five credit passes at SSCE (or its equivalent) to include English Language, Literature-in-English and Mathematics at not more than two sittings.</td>
                    <td>
                        (i) Two ‘A’ level passes in Arts or Social Science subjects including Literature-in-English in addition to UTME requirements.<br>
                        (ii) NCE/OND/HND not below Credit level.<br>
                        (iii) A Good pass in JUPEB/IJMB subjects: Literature in English and any two Arts or Social Sciences<br>
                        (iv) BSc. in a relevant field.
                    </td>
                    <td>Any three Arts or Social Science subjects</td>
                </tr>

                <tr>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <th colspan="4"><h4 id="science"><center>FACULTY OF SCIENCE</center></h4></th>
                </tr>
                <tr>
                    <th>PROGRAMMES</th>
                    <th>O'LEVEL</th>
                    <th>DIRECT ENTRY</th>
                    <th>UTME SUBJECTS</th>
                </tr>
                <!--
                <tr>
                    <td>B.Sc. Animal and Environmental Biology</td>
                    <td>Five credit passes at SSCE (or its equivalent) in English Language, Mathematics, Biology and two other science subject.</td>
                    <td>(i) Two ‘A’ level passes in Biology, Zoology or Botany and one other Science subject<br />
                        (ii) NCE/OND/HND with credit passes from a recognized institution in addition to O’ level requirements <br />
                        (iii) A very good passes in JUPEB in Biology, Chemistry and Physics <br />
                        (iv) IJMB passes in Biology, Chemistry, Physics and Mathematics
                    </td>
                </tr>
                -->
                <!--
                    <tr>
                        <td>B.Sc. Biology</td>
                        <td>Five credit passes at SSCE (or its equivalent) in English Language, Mathematics, Chemistry, Physics and Biology at not more than two sittings</td>
                        <td>(i) Two "A" level passes from Chemistry, Biology, Botany/Zoology. <br />
                            (ii) NCE/OND/HND with credit passes from a recognized institution in addition to O’ level requirements. <br />
                            (iii) A very good passes in JUPEB in Biology, Chemistry and Physics<br />
                            (iv) IJMB passes in Biology, Chemistry, Physics and Mathematics
                        </td>
                    </tr>
                -->

                <tr>
                    <td>B.Sc. Microbiology</td>
                    <td>Five Credit passes at SSCE (or its equivalent) in English Language, Mathematics, Chemistry, Physics and Biology at not more than two sittings</td>
                    <td>
                        (i) Two ‘A’ level passes in Chemistry and any one from Biology, Zoology or Botany in addition to UTME requirements.<br>
                        (ii) NCE/OND/HND with Credit passes from a recognized institution in addition to O’ level requirements.<br>
                        (iii) A good pass in JUPEB in Biology, Chemistry and Physics<br>
                        (iv) IJMB passes in Biology, Chemistry, Physics
                    </td>
                    <td>Biology, Chemistry and Physics</td>
                </tr>
                <!--
                    <tr>
                        <td>B.Sc. Chemistry</td>
                        <td>Five credit passes at SSCE (or its equivalent) in English Language, Mathematics, Chemistry, Physics and Biology at not more than two sittings for admission</td>
                        <td>(i) Two A/L passes in Chemistry and any one of Physics, Mathematics or Biology <br />
                        (ii) NCE with at least Merit in Mathematics and one other Science or Social Science subject. <br />
                        (iii)OND/HND with credit passes from a recognized institution in addition to O’ level requirements
                        </td>
                    </tr>
                -->
                <tr>
                    <td>B.Sc. Computer Science</td>
                    <td>Five Credit passes at SSCE (or its equivalent) to include English Language, Mathematics, Physics plus two other science subjects  at not more than two sittings</td>
                    <td>
                        (i) Two A/L passes in science subjects including Mathematics in addition to UTME requirements.<br>
                        (ii) NCE with at least Merit in Mathematics and one other Science or Social Science subject.<br>
                        (iii) OND/HND with Credit passes from a recognized institution in addition to O’ level requirements<br>
                        (iv) IJMB/JUPEB
                    </td>
                    <td>Mathematics, Physics and one of Biology, Chemistry, Agric. Science, Economics and Geography.</td>
                </tr>

                <tr>
                    <td>B.Sc. Plant Biology and Biotechnology</td>
                    <td>Five (5) SSCE Credit passes in English Language, Mathematics, Biology, Chemistry and Physics at not more than two sittings</td>
                    <td>
                        (i) Two (2) 'A' level passes in Biology/Botany/ Zoology and Chemistry or Physics in addition to UTME requirements.<br>
                        (ii) NCE with at least Merit in Mathematics and one other Science or Social Science subject.<br>
                        (iii) OND/HND with Credit passes from a recognized institution in addition to O’ level requirements<br>
                        (iv) IJMB/JUPEB
                    </td>
                    <td>Biology, Chemistry and any other Science subject.</td>
                </tr>

                <tr>
                    <td>B.Sc. Animal and Environmental Biology</td>
                    <td>Five (5) SSCE credit passes in English Language, Mathematics, Biology, Chemistry and one (1) other science subject  at not more than two sittings</td>
                    <td>
                        (i) Two (2) 'A' level passes or NCE in Biology, Zoology or Botany and one other Science subject in addition to UTME requirements.<br>
                        (ii) OND/HND with Credit passes from a recognized institution in addition to O’ level requirements.<br>
                        (iii) A good pass in JUPEB subjects: Biology, Chemistry and Physics <br>
                        (iv) IJMB passes in Biology, Chemistry, Physics
                    </td>
                    <td>Biology and any two (2) of Physics, Chemistry and Mathematics.</td>
                </tr>

                <tr>
                    <td>B.Sc. Physics with Electronics</td>
                    <td>Five (5) SSCE credit passes in English Language, Physics, Chemistry, Mathematics and any other Science subject from Further Mathematics and Biology or Agricultural Science.</td>
                    <td>
                        (i) Two (2) 'A' level passes in Physics and Mathematics or Chemistry.<br>
                        (ii) ND/HND with Credit passes in relevant programmes from a recognized institution in addition to O’ level requirements.<br>
                        (iii) IJMB/JUPEB in relevant subjects.<br>
                    </td>
                    <td>Physics, Mathematics and Chemistry or Biology.</td>
                </tr>

                <tr>
                    <td>B.Sc. Industrial Chemistry</td>
                    <td>Five (5) SSCE credit passes in English Language, Mathematics, Chemistry, Physics and Biology/Agricultural Science at not more than two sittings </td>
                    <td>
                        (i) 'A' level passes in Chemistry and any one (1) of Physics and Mathematics, plus the UTME Requirements.<br>
                        (ii) ND/HND with Credit passes in relevant programmes from a recognized institution in addition to O’ level requirements.<br>
                        (iii) IJMB/JUPEB in relevant subjects.<br>
                    </td>
                    <td>Chemistry, Mathematics and any of Physics/Biology/Agricultural Science.</td>
                </tr>




                <!--
                 <tr>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <th colspan="3"></th>
                </tr>
                <tr>
                    <th>PROGRAMMES</th>
                    <th>O'LEVEL</th>
                    <th>DIRECT ENTRY</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John</td>
                    <td>Carter</td>
                </tr>

                -->

            </tbody>
        </table>
        <h3>Signed:</h3>
        <h4>Registrar</h4>
    </div>




</div>
<partial name="_Footer"/>
