<partial name="_Nav" />

<section class="news">

    <div class="heading">
        <h1>Scholarships</h1>
    </div>

</section>

<section class="latest-news">
    <div class="d-flex">
        
    </div>
</section>

<app-newsletter></app-newsletter>
<partial name="_Footer"/>